// User variables:
$accent: #D2884F
$accent-dark: #F29D48
$text: #1f1b19

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// Default variables: node_modules/bootstrap/scss/_variables.scss
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)


$f100: Oswald100
$f200: Oswald200
$f400: Oswald400
$f500: Oswald500
$f600: Oswald600
$f700: Oswald700