.product__item {
	box-shadow: 0px 24px 100px rgba(22, 25, 50, 0.07);
	border-radius: 9px;
	padding: 13px;
}

.product .container {
	display: flex;
}

.product__top {
	display: flex;
	margin-bottom: 20px;
}

.product__slider-wrap {
	width: 57%;
	display: flex;
}

.product__slider-thumbs {
	width: 100px;
	height: 451px;
}

.product__slider-thumbs .swiper-slide {
	cursor: pointer;
	border: 2px solid #F3F5FB;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product__slider-thumbs .swiper-slide img {
	max-width: 100%;
	height: auto;
	width: auto;

}

.product__slider-thumbs .swiper-slide-thumb-active.swiper-slide {
	border-color: var(--accent);
}

.product__slider .swiper-slide {
	border: 2px solid #F3F5FB;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product__slider .swiper-slide img {
	max-width: 100%;
	height: auto;
	width: auto;
}

.product__slider {
	width: calc(100% - 110px);
}

.product__head {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 31px;
}

.product__top-content {
	width: 43%;
	padding-left: 20px;
}

.product__buttons {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px
}

.product__buttons-item-wrap {
	width: 50%;
	padding-right: 10px;
	margin-bottom: 11px;
}

.product__buttons-item-wrap.active .product__buttons-item {
	color: var(--accent);
}

.product__buttons-item {
	text-decoration: none;
	color: var(--text);
	font-size: 14px;
	display: flex;
	align-items: center;
	line-height: 1;
	cursor: pointer;
}

.product__buttons-item:hover {
	color: var(--accent);
}

.product__buttons-item svg {
	margin-right: 10px;
}

.new-share-btn-wrap {
	position: relative;
}

.new-share-btn-more {
	display: none;
	background: #fff;
	position: absolute;
	left: 0;
	top: 30px;
	margin-left: 0;
	z-index: 1;
	padding: 10px;
	border-radius: 5px;
	font-size: 13px;
	color: #1C9331;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.new-share-btn-more:after {
	content: "";
	position: absolute;
	left: 50px;
	top: -18px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
	box-sizing: border-box;
}

.new-share-btn-more:before {
	content: "";
	position: absolute;
	left: 50px;
	top: -21px;
	border: 10px solid transparent;
	border-bottom: 10px solid rgba(0, 0, 0, 0.1);
}

.new-share-btn-more.show {
	display: block;
}

.new-share-btn-more__item {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--text);
}

.new-share-btn-more__item svg {
	margin-right: 10px;
}

.product__line {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.product__rating-wrap {
	display: flex;
	align-items: center;
	margin-left: 22px;

}

.product__article-num {
	display: inline-block;
	padding: 8px 20px;
	font-weight: 400;
	font-size: 14px;
	background: #F3F5FB;
	border-radius: 8px;
	line-height: 1;
	margin-left: 10px;
}

.product__rating-num {
	margin-left: 10px;
}

.product__rating-link {
	margin-left: 8px;
	font-weight: 500;
	font-size: 14px;
}

.product__info {
	width: 57%;
}

.product__info-tabs {
	display: flex;
	align-items: center;
	gap: 11px;
}



.product__info-tabs-item {
	padding: 8px 10px;
	font-size: 14px;
	border: 1px solid #F3F5FB;
	border-radius: 9px;
	cursor: pointer;
}