
@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/Montserrat-Light.eot) format("eot"),
        url(../fonts/Montserrat-Light.woff) format("woff"),
        url(../fonts/Montserrat-Light.woff2) format("woff2"),
        url(../fonts/Montserrat-Light.ttf) format("ttf")
}



@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Montserrat-Regular.eot) format("eot"),
    	url(../fonts/Montserrat-Regular.woff) format("woff"),
    	url(../fonts/Montserrat-Regular.woff2) format("woff2"),
    	url(../fonts/Montserrat-Regular.ttf) format("ttf")
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Montserrat-Medium.eot) format("eot"),
        url(../fonts/Montserrat-Medium.woff) format("woff"),
        url(../fonts/Montserrat-Medium.woff2) format("woff2"),
        url(../fonts/Montserrat-Medium.ttf) format("ttf")
}



@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Montserrat-Bold.eot) format("eot"),
        url(../fonts/Montserrat-Bold.woff) format("woff"),
        url(../fonts/Montserrat-Bold.woff2) format("woff2"),
        url(../fonts/Montserrat-Bold.ttf) format("ttf")
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Montserrat-Black.eot) format("eot"),
        url(../fonts/Montserrat-Black.woff) format("woff"),
        url(../fonts/Montserrat-Black.woff2) format("woff2"),
        url(../fonts/Montserrat-Black.ttf) format("ttf")
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/Montserrat-ExtraBold.eot) format("eot"),
        url(../fonts/Montserrat-ExtraBold.woff) format("woff"),
        url(../fonts/Montserrat-ExtraBold.woff2) format("woff2"),
        url(../fonts/Montserrat-ExtraBold.ttf) format("ttf")
}

@font-face {
    font-family: 'Palatino';
    src: url('../fonts/PalatinoLinotype-Bold.eot');
    src: url('../fonts/PalatinoLinotype-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PalatinoLinotype-Bold.woff2') format('woff2'),
        url('../fonts/PalatinoLinotype-Bold.woff') format('woff'),
        url('../fonts/PalatinoLinotype-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

