/* USER VARIABLES SECTION */

:root {
	--accent: #FFCC00;
	--text: #252525;
	--regular-text: 12px;
	--lineheight: 1;
	--userfont: Roboto, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}


/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

/* USER STYLES */
a:hover{
	color: var(--accent)
}
.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}

.accent {
	color: var(--accent);
	font-weight: bold;
}

.wrapper{
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.header{
	padding-top: 19px;
}

.header__logo{
	display: block;
	

}
.header__logo img{
	width: 100%;
}

.header__top{
	display: flex;
}
.header__content {
	padding-left: 30px;
	width: calc(100% - 210px)

}
.header__content-top {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #D7D7D7;
	padding-bottom: 8px;


}

.content-top__menu__item {
	text-decoration: none;
	color: var(--text);
	font-size: 12px;
	margin-right: 19px;
	font-weight: 400;
	
}

.content-top__log{
	display: flex;
}

.log__item{
	color: var(--text);
	text-decoration: none;
	display: flex;
	align-items: center;
	font-weight: 500;
}

.log__item::after{
	content: '';
	display: block;
	width: 1px;
	height: 10px;
	background-color: var(--text);
	margin-left: 15px;
	margin-right: 12px;
}

.log__item:last-child{
	margin-right: 0px;
}

.log__item:last-child:after{
	display: none;
}

.header__content-bottom{
	padding-top: 22px;
	display: flex;

}
.content-bottom__gray-block{
	width: 253px;
	height: 70px;
	background-color: #E2E2E2;
}


.content-bottom__gray-block {
}
.content-bottom__links {
	margin-left: 43px;
	width: 15%;

}
.content-bottom__links-item {
	color: var(--text);
	display: block;
	padding-left: 20px;
	margin-bottom: 15px;
	position: relative;
}
.content-bottom__links-item:before{
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: -9px;
	background-repeat: no-repeat;
	background-position: center;
	top: calc(50% - 10px)
}
.content-bottom__links-item.links-item--cart{
	font-size: 14px;
}
.links-item--cart:before {
	background-image: url('../images/cart.svg');
}
.links-item--elect:before {
	background-image: url('../images/star.svg');
}
.links-item--compar:before {
	background-image: url('../images/balance.svg');
}

.small-goods__item{
	display: block;
	width: 70px;
	height: 70px;
	border: 1px solid #D9D9D9
}

.content-bottom__small-goods{
	display: flex;
	margin-left: 20px;
}



.small-goods__item{
	margin-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.small-goods__item:last-child{
	margin-right: 0;
}

.content-bottom__contact{
	margin-left: 56px;
	width: 20%;
}

.contact__time{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
	
}

.contact__time-head{
	font-weight: 700;
}

.contact__phone{
	display: block;
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	color: var(--text);
	margin-bottom: 15px;
}

.contact__place{
	padding-top: 6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #D7D7D7
}

.contact__place-text, .contact__place-replace{
	color: var(--text);
	text-decoration: none;
}


.contact__place-replace span{
	border-bottom: 1px dotted #000;
}

.contact__place-replace:hover span{
	border-color: var(--accent);
}

.contact__place-replace:hover path{
	fill: var(--accent)
}

.header__bottom{
	height: 34px;
	background-color: #252525;
	color: white;
	display: flex;
	justify-content: space-between;
	margin-top: 28px;
	border-radius: 10px;

}

.header__bottom-search{
	width: 39px;
	height: 100%;
	background-color: var(--accent);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px 0 0 10px;
	position: relative;
	left: -1px;
}

.header__bottom-nav {
	display: flex;
	margin-left: 10px;

}
.header__bottom-nav-item {
	font-size: 14px;
	font-weight: 600;
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding-left: 19px;
	padding-right: 19px;
}

.header__bottom-nav-item--active{
	background-color: var(--accent);
	color: var(--text);
}

.header__bottom-nav-item:hover{
	background-color: var(--accent);
	color: var(--text)
}
.header__bottom-sale {
	font-size: 14px;
	color: var(--text);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	background-color: var(--accent);
	font-weight: 600;
	text-decoration: none;
	border-radius: 0px 10px 10px 0px;
	position: relative;
	right: -1px;
}

.header__bottom-sale:hover{
	color: var(--text);
}




.mob-menu-wrap{
	width: 400px;
	min-width: 320px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	transition: transform .3s;
	/* transform: translateX(-400px); */
	z-index: 999;
	overflow-y: auto;
	transform: translateX(-400px);
}



.mob-menu-wrap--active{
	transform: translateX(0px);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.body--active{
	overflow: hidden;
}

.menu-close-wrap{
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
}
.menu-close{
	margin-bottom: 20px;
	margin-top: 20px;
}

.mob-menu .header-bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}

.mob-menu .header-bottom__login{
	margin-left: 20px;
}

.mob-menu .header-bottom__compar{
	margin-left: 20px;
}

.mob-menu-nav__item{
	padding-left: 27px;
	background-color: var(--text);
	color: white;
	font-size: 16px;
	font-weight: 700;
	min-height: 48px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #D7D7D7;
	text-decoration: none;
}

.mob-menu-nav__item:hover{
	color: white;
}

.mob-menu-nav__item:last-child{
	border-bottom: 0px;
}

.mob-menu-bottom-nav {
	padding-left: 27px;
	padding-top: 30px;
	padding-right: 27px;
}

.mob-menu-bottom-nav__item {
	
}
.mob-menu-bottom-nav__item-2lvl {
	position: relative;

}


.mob-menu-bottom-nav__link {
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 14px;
	margin-bottom: 20px;
}
.mob-menu-bottom-nav__drop {
	display: none;
}

.mob-menu-bottom-nav__item > .mob-menu-bottom-nav__link{
	font-weight: 600;
}

.mob-menu-bottom-nav__item-2lvl > .mob-menu-bottom-nav__link::after{
	content: '';
	display: block;
	width: 11px;
	height: 11px;
	background-position: center;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url('../images/bottom.svg');
	right: 0;
	top: 4px;
	transition: transform .3s;

}

.mob-menu-bottom-nav__item-2lvl--active > .mob-menu-bottom-nav__link::after{
	transform: rotate(180deg);
}

.mob-menu-bottom{
	background-color: #EEEEEE;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
}

.mob-menu-bottom .header-top__phone{
	display: inline;
}

.mob-menu-bottom .header-top__btn{
	margin-left: 0;
	margin-top: 10px;
	display: flex;
	margin-bottom: 20px;
}

.mob-menu-bottom__links{
	margin-bottom: 40px;
}

.mob-menu-bottom .header-top__place{
	margin-bottom: 20px;
}

.mob-menu-bottom .content-top__log{
	margin-bottom: 15px;
}

.mob-menu-bottom .contact__time{
	margin-bottom: 15px;
}

.mob-menu-bottom .contact__phone{
	margin-bottom: 15px;
}

.mobile-search{
	width: calc(100% - 200px);
	background-color: transparent;
	border: none;
	color: white;
}

.mobile-search::placeholder{
	color: white
}

.burger{
	display: none;
}

.mobile-search{
	display: none;
}