/* USER VARIABLES SECTION */

:root {
	--accent: #FDE565;
	--accent-pink: #FF00FD;
	--text: #fff;
	--text-dark: #A89EDE;
	--regular-text: 16px;
	--lineheight: 1.3;
	--userfont: 'Open Sans', sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}


/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	font-weight: 400;
	position: relative;
	overflow-x: hidden;
	background-color: #282E41;
}

/* USER STYLES */

.wrapper{

	overflow-x: hidden;

}
.btn-center{
	display: flex;
	justify-content: center;
}
.black-btn{
	border: none;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	background-color: #000000;
	height: 58px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	letter-spacing: 0.06em;
}

.black-btn:hover{
	background-color: var(--accent-pink);

}

.btn{
	width: 215px;
	height: 58px;
	text-align: center;
	color: white;
	border-radius: 5px;
	background-color: #7E4DFE;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	border: none;
	transition: background-color .3s;
}

.btn:hover{
	background-color: var(--accent-pink);
}

.btn-bg{
	position: relative;
}

.btn-bg::before{
	content: '';
	display: block;
	width: 389px;
	height: 175px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/btnbg.svg');
	position: absolute;
	z-index: -1;
	top: calc(50% - 175px /2);
	left: calc(50% - 389px /2);
}

.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}

.accent {
	color: var(--accent);
	font-weight: bold;
}

.container{
	max-width: 1324px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.header{
	padding-top: 150px;
	background: linear-gradient(180deg, #4C15A0 34.02%, rgba(76, 21, 160, 0) 98.5%);
	position: relative;
	
}

.header::before{
	content: '';
	display: block;
	width: 689px;
	height: 447px;
	background-image: url('../images/aroundh1.svg');
	position: absolute;
	top: 0
}
.header::after{
	content: '';
	display: block;
	width: 438px;
	height: 611px;
	background-image: url('../images/aroundh2.svg');
	position: absolute;
	bottom: 0px;
	
}

.header .container{
	position: relative;
	padding-bottom: 250px;
}

.header__line{
	position: absolute;
	bottom: 0px;
	z-index: -1;
}
.header__line_1{
	left: -300px;
}
.header__line_2{
	right: -300px;
	bottom: 20px;
}
.header__col-wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 99px;
}
.header__col{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
}
.header__col_center{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}
.header__text_pink, .header__text_yellow-small, .header__text_yellow{
	display: block;
	line-height: 1;
}
.header__text_pink{
	color: var(--accent-pink);
	font-size: 108px;
	font-weight: 700;
	text-transform: uppercase;

}

.header__text_yellow-small{
	color: var(--accent);
	text-transform: uppercase;
	font-size: 51px;
	font-weight: 600;

}

.header-text_yellow{
	font-size: 96px;
	color: var(--accent);
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
}

.header__event-text{
	color: var(--accent-pink);
	font-size: 36px;
}


.text-center{
	font-size: 44px;
	font-weight: 600;
	text-align: center;
}

.text-center_small{
	font-size: 33px;
	
	margin-left: auto;
	margin-right: auto;
}
.text-center.text-center_small{
	max-width: 490px;
}
.text-center_yellow{
	font-size: 40px;
	text-transform: uppercase;
	color: var(--accent);
}
.mask-text{
	position: relative;

}

.mask-text::after{
	content: 'On';
	background-image: url('../images/masktext.svg');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	position: absolute;
	left: 0;
}

.mask-text_up::after{
	content: 'up';
}

.header__text-border{
	position: relative;
	z-index: 1;
}

.header__text-border::before{
	content: 'MEET UP';
	display: block;
	white-space: nowrap;
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #B49378;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: -1;
}


.decor-line-block-1{
	bottom: 135px;
}

.decor-line-block{
	transform: skewY(-16deg);
	position: absolute;
	width: 100%;
	/* pointer-events: none; */

}

.decor-line-1{
	width: 17%;
	height: 80px;
	background-color: var(--accent-pink);
	margin-right: 100px;

}


.decor-line-2{
	width: 100%;
	height: 80px;
	display: flex;
	margin-left: 9%;

}
.decor-line-2:before{
	content: '';
	display: block;
	width: 17%;
	height: 100%;
	background-color: var(--accent);
}
.decor-line-2:after{
	content: '';
	display: block;
	width: 19%;
	height: 100%;
	background-image: url('../images/linebg.svg');
	background-size: cover;
	background-position: top 0px left 0px;
	max-width: 364px;
}


.decor-line-block-2{
	right: 0px;
	bottom: 0px;
	position: absolute;
}

.decor-line_transparent{
	position: relative;
	display: flex;
	justify-content: flex-end;
	height: 80px;
	right: -3px;
}

.decor-line_transparent:before{
	content: '';
	display: block;
	width: 13%;
	height: 100%;
	border: 2px solid #D844EB;
	margin-right: 5%;
}

.decor-line_transparent:after{
	content: '';
	display: block;
	width: 38%;
	height: 100%;
	border: 2px solid #D844EB;

}

.main-text{
	padding-top: 100px;
	padding-bottom: 100px;
}
.main-text .text-center{
	margin-bottom: 30px;
}

.main-text .text-center_yellow{
	margin-bottom: 55px;
}

.text-center{
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.text-pink{
	color: var(--accent-pink)
}

.text-dark{
	color: var(--text-dark);
	font-size: 22px;
	text-align: center;
	max-width: 864px;
	margin-left: auto;
	margin-right: auto;
}

.person .text-center{
	margin-bottom: 170px;
}

.person-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.person__item{
	width: 45%;
	margin-bottom: 150px;
	text-align: center;

}
.person__item-image{
	width: 194px;
	height: 194px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	background-color: #7E4DFE;
	position: relative;

}

.person__item:nth-child(odd) .person__item-image:after{
	content: '';
	display: block;
	width: 100px;
	height: 54px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/dots.svg');
	position: absolute;
	z-index: 1;
	bottom: 30px;
	right: -64px;
}

.person__item:nth-child(1) .person__item-image:after{
	bottom: 30px;
	right: -64px;
}

.person__item:nth-child(3n + 3) .person__item-image:after{
	bottom: 64px;
	right: auto;
	left: -80px;
}

.person__item-svg-wrap{
	position: absolute;
	z-index: 1;
}

.person__item:nth-child(1) .person__item-svg-wrap{
	left: 62px;
  top: -52px;
}

.person__item:nth-child(2) .person__item-svg-wrap{
	left: -96px;
	top: 66px;
}
.person__item:nth-child(3) .person__item-svg-wrap{
	left: 26px;
	top: -48px;
	animation: wiggle 5s infinite;
}
.person__item:nth-child(4) .person__item-svg-wrap{
	left: 24px;
	top: -35px;
}

.person__item:nth-child(1) .person__item-svg-wrap circle:nth-last-child(3){
	animation: animate-king-center 2s infinite;
}
.person__item:nth-child(1) .person__item-svg-wrap circle:nth-last-child(2){
	animation: animate-king-left 2s infinite;
}
.person__item:nth-child(1) .person__item-svg-wrap circle:nth-last-child(1){
	animation: animate-king-right 2s infinite;
}

.person__item:nth-child(2) .person__item-svg-wrap path:nth-last-child(-n + 3){
	animation: wind .5s infinite;
}

.person__item:nth-child(4) .person__item-svg-wrap path:nth-last-child(-n + 2){
	animation: windCat 5s infinite;
}
.person__item-image:before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--accent-pink);
	border-radius: 50%;
	position: absolute;
	z-index: -1;
	right: -5px;
	bottom: -5px;
}
.person__item-image {
	margin-bottom: 15px;


}
.person__item-image img{
	position: absolute;
	left: 11px;
	bottom: 0px;

}

.person__item-name{
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 5px;
}

.person__item-job{
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
}

.person__item-theme{
	display: inline;
	color: #282E41;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.5;
	background-color: var(--accent);
	box-shadow: -10px 0 0 var(--accent), 10px 0 0 var(--accent);

}

.person__item-text{
	color: var(--text-dark);
	font-size: 16px;
	line-height: 1.5;
	margin-top: 10px;
}

.person__item:nth-child(1){

}
.person__item:nth-child(2) .person__item-image img{
		left: 8px;
		bottom: -1px;
}

.person__item:nth-child(3) .person__item-image img{
	left: 20px;
	bottom: -1px;
}
.person__item:nth-child(4) .person__item-image img{
	left: 30px;
	bottom: -1px;
}

.end-block{
	background: linear-gradient(360deg, rgba(76, 21, 160, 0.7) -13.64%, rgba(76, 21, 160, 0) 90.4%);
	padding-bottom: 270px;
	position: relative;

}

.end-block  .decor-line-block-1{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	bottom: auto;
	top: -200px
}

.end-block .decor-line-2{
	display: flex;
	justify-content: flex-end;
}
.end-block .decor-line-2:after{
	width: 37%;
	background-size: 150%;
}
.end-block .decor-line-block-1 .decor-line-1{
	width: 63%;
	margin-right: 75%;
	max-width: 500px;
}



.end-block .decor-line-2:before{
	width: 63%;
	max-width: 500px;
}

.end-block .decor-line_transparent{
	justify-content: flex-start;
	right: auto;
	left: -3px;

}

.end-block .decor-line-block-2{
	bottom: 262px;
	width: 50%;
	left: 0;
}

.end-block .decor-line-block{
	transform: skewY(-12deg);
}
.end-block .decor-line_transparent:after{
	width: 59%;
	max-width: 700px;
}

.end-block .decor-line_transparent:before{
	display: none;
}

.end-block  .decor-line-block-1{
	width: 22%;
	right: 0px
}
.modal-reg .modal__container{
	width: 644px;
	max-width: 644px;
	background-color: #8C62FC;
	padding-top: 53px;
	padding-bottom: 63px;
}

.modal-reg .black-btn{
	margin-left: auto;
	margin-right: auto;
}
.modal-reg form{
	max-width: 376px;
	margin-left: auto;
	margin-right: auto;
}

.modal__title{
	color: white;
	font-size: 35px;
	font-weight: 400;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.input{
	width: 100%;
	height: 45px;
	color: #090909;
	font-size: 16px;
	font-weight: 400;
	border: none;
	padding: 0 23px;

}


.input::placeholder{
	color: #090909;
}
.input-wrap{
	margin-bottom: 31px;
}

.input-wrap:last-child{
	margin-bottom: 10px;
}
.textarea{
	width: 100%;
	padding: 15px 23px;
	resize: none;
	border: none;
	height: 110px;
}

.textarea::placeholder{
	color: #090909;
}

.modal__close{
	font-size: 0px;
	width: 20px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/close.svg');
	background-size: contain;
	position: absolute;
	right: 22px;
	top: 22px;
}	


.polit{
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	max-width: 367px;
}

.input-wrap_error{
	position: relative;
}
.input-wrap_error .input{
	border: 3px solid red;
}

.error-text{
	color: red;
	font-size: 14px;
	font-weight: 400;
	text-align: right;
	position: absolute;
	right: 0px;
	display: none;
}

.input-wrap_error .error-text{
	display: block;
}
/* animate */

/* При длительности анимации в 5сек задержка будет составлять 2 секунды, как написано в макете */
@keyframes wiggle{
	0% {
		transform: rotate(0deg);
	}
	15% {
		transform: rotate(10deg);
	}
	30%{
		transform: rotate(0deg);
	}
	45%{
		transform: rotate(10deg);
	}
	60%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(0deg);
	}
}

/* Анимация плаща */
@keyframes wind {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(6px);
	}
	100% {
		transform: translateX(0px);
	}
}

/* Анимация уха. В макете не понятно сколько раз ухо должно качаться до остановки в 3с, сделал 2 покачивания. Работает при длительности анимации в 5с*/
@keyframes windCat {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(5deg);
	}
	20% {
		transform: rotate(0deg);
	}
	30% {
		transform: rotate(5deg);
	}
	40% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}


@keyframes animate-king-center{
	0%{
		fill: transparent;
	}

	20%{
		fill: var(--accent);
	}
	40%{
		fill: transparent;
	}
	60%{
		fill: transparent;
	}
	80%{
		fill: transparent;
	}
	100%{
		fill: transparent;
	}
}

@keyframes animate-king-left{
	0%{
		fill: transparent;
	}

	20%{
		fill: transparent;
	}
	40%{
		fill: var(--accent);
	}
	60%{
		fill: transparent;
	}
	80%{
		fill: transparent;
	}
	100%{
		fill: transparent;
	}
}
@keyframes animate-king-right{
	0%{
		fill: transparent;
	}
	20%{
		fill: transparent;
	}
	40%{
		fill: transparent;
	}
	60%{
		fill: transparent;
	}
	80%{
		fill: var(--accent);
	}
	100%{
		fill: transparent;
	}
}