.about__small-title {
	margin-bottom: 12px;
}


.process__img img {
	width: 100%;
	height: auto;
}

.process__img--mobile {
	display: none;
}


.process {
	margin-bottom: 174px;
}




.about-triggers {
	padding-top: 61px;
}

.about-triggers__container {
	display: flex;
	gap: 27px;
	justify-content: space-between;
}

.about-triggers__item {
	width: calc(100% / 4);
	text-align: center;
}

.about-triggers__item-head {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 11px;
}

.about-triggers__item-img {
	margin-bottom: 25px;
}

.about-triggers__item-text {
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	color: #777777;
}

.garant {
	padding-top: 48px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	position: relative;
	padding-bottom: 339px;
}

.garant .container {
	position: relative;
}

.garant__subtitle {
	font-weight: 400;
	font-size: 48px;
	line-height: 110%;
	margin-bottom: 37px;
}

.garant__title {
	font-weight: 600;
	font-size: 64px;
	margin-bottom: 37px;
	color: var(--accent);
}

.garant__text {
	max-width: 730px;
}


.garant-img-wrap {
	margin-top: -300px;
	margin-bottom: 80px;
	position: relative;
}

.garant-img {
	width: 100%;
	height: auto;

}

@media (max-width: 1350px) {
	.garant {
		padding-bottom: 25vw;
	}

	.garant-img-wrap {
		margin-top: -20vw
	}
}

@media (max-width: 1200px) {
	.about-triggers__container {
		flex-wrap: wrap;
	}

	.about-triggers__item {
		width: calc(50% - 27px / 2);
	}
}

@media (max-width: 768px) {
	.garant__subtitle {
		font-size: 20px;
		margin-bottom: 23px;
	}

	.garant__title {
		font-size: 32px;
	}
}

@media (max-width: 575px) {
	.process__img {
		display: none;
	}

	.process__img.process__img--mobile {
		display: block;
		max-width: 325px;
		margin-left: auto;
		margin-right: auto;
	}

	.about-triggers__item {
		width: 100%;
	}

	.about-triggers__container {
		gap: 44px;
	}
}