.articles {
	margin-left: 0;
	padding-left: 18px;
}

.newsitem__content {
	display: flex;
	gap: 25px;
}

.newsitem-img {
	width: 52%;
}

.newsitem-img img {
	width: 100%;
	height: auto;
}

.newsitem__right {
	width: 48%;
}

.newsitem__content {
	margin-bottom: 133px;
}

.space-between-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 49px;
}


.shaw-all {
	text-decoration: none;
}

.shaw-all:hover {
	text-decoration: underline;
	color: #4D70E7;
}

.shaw-all svg {
	margin-left: 8px;
}

.news-slider-wrap {
	position: relative;
}


@media (max-width: 768px) {
	.newsitem__content {
		display: block;
		margin-bottom: 60px;
	}

	.newsitem-img {
		width: 100%;
		margin-bottom: 30px;
	}

	.newsitem__right {
		width: 100%;
	}

	.space-between-row {
		display: block;
		margin-bottom: 20px;
	}

	.space-between-row .small-title {
		margin-bottom: 10px;
	}
}

@media (max-width: 575px) {}