@font-face {
    font-family: RobotoCon;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/RobotoCondensed-Light.eot) format("eot"),
    	url(../fonts/RobotoCondensed-Light.woff) format("woff"),
    	url(../fonts/RobotoCondensed-Light.woff2) format("woff2"),
    	url(../fonts/RobotoCondensed-Light.ttf) format("ttf")
}

@font-face {
    font-family: RobotoCon;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/RobotoCondensed-Regular.eot) format("eot"),
        url(../fonts/RobotoCondensed-Regular.woff) format("woff"),
        url(../fonts/RobotoCondensed-Regular.woff2) format("woff2"),
        url(../fonts/RobotoCondensed-Regular.ttf) format("ttf")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Roboto-Regular.eot) format("eot"),
        url(../fonts/Roboto-Regular.woff) format("woff"),
        url(../fonts/Roboto-Regular.woff2) format("woff2"),
        url(../fonts/Roboto-Regular.ttf) format("ttf")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Roboto-Medium.eot) format("eot"),
        url(../fonts/Roboto-Medium.woff) format("woff"),
        url(../fonts/Roboto-Medium.woff2) format("woff2"),
        url(../fonts/Roboto-Medium.ttf) format("ttf")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Roboto-Black.eot) format("eot"),
        url(../fonts/Roboto-Black.woff) format("woff"),
        url(../fonts/Roboto-Black.woff2) format("woff2"),
        url(../fonts/Roboto-Black.ttf) format("ttf")
}