@media(max-width: 1500px){
	.limit__head{
		font-size: 23px;
	}
	.answer__img{
		display: none;
	}
	.answer__content{
		width: 100%;
	}
}

@media (max-width: 1400px){
	.tabs__item{
		font-size: 20px;
		height: 91px;
	}
	
}
@media (max-width: 1300px){
	.btn{
		width: auto;
		min-width: 210px;
		height: 50px;
		font-size: 16px;
		line-height: 1;
	}	

	.logo{
		font-size: 16px;
	}

	.main__triggers-item{
		font-size: 20px;
	}

	.opros__item-wrap::after{
		display: none;
	}
	.opros__item-wrap{
		width: 48%;
		margin-bottom: 39px;
	}
}

@media (max-width: 1200px){


	.answer__container{
		padding-top: 40px;
	}
	.answer__logo{
		padding-bottom: 40px;
	}
	.answer__content{
		padding-left: 0;
		padding-top: 0px;
	}
	.answer__text{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.answer__text-head{
		font-size: 48px;
	}

	.answer__logo{
		font-size: 17px;
	}

	.answer__text-p{
		font-size: 23px;
	}
	.desctop-visible{
		display: none;
	}
	.laptop-visible{
		display: block;
	}
	.main{
		padding-top: 0;
		padding-bottom: 50px;
		
	}
	.main__image{
		height: 470px;
		width: 100%;
		margin-left: -40px;
		margin-right: -40px;
		width: calc(100% + 80px);
		margin-top: 0px;
	}

	.main__head{
		margin-left: -40px;
		margin-right: -40px;
		width: calc(100% + 80px);
		padding: 32px 40px;
		font-size: 48px;
		margin-bottom: 35px;
	}
	.main__container{
		display: block;
	}
	.main__content{
		padding-left: 0;
		width: 100%;
	}

	.main__triggers-head{
		font-size: 20px;
		margin-bottom: 20px;
	}

	.main__triggers-container{
		display: flex;
		flex-wrap: wrap;
	}

	.main__triggers-item{
		margin-right: 30px;
		width: calc(50% - 15px);
		height: 83px;
		padding-left: 50px;
		padding-right: 10px;
	}

	.main__triggers-item:nth-child(2n + 2){
		margin-right: 0;
	}

	.anot__text{
		font-size: 30px;
	}

	.limit{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.limit__head{
		font-size: 30px;
	}
	.limit__container{
		flex-wrap: wrap;
	}
	.limit__content{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 50px;
	}

	.limit__text{
		padding-left: 40px;
		width: 70%;
	}

	.custom-ul li:before{
		left: -37px;
		top: 14px;
	}

	.limit__img, .limit__anot{
		width: calc(50% - 34px / 2);
	}

	.opros__item{
		padding: 28px 60px;
	}
	.opros__item-head{
		font-size: 20px;
	}

	.opros__item_num{
		width: 40px;
		height: 80px;
	}

	.dropdown__bottom-img{
		width: calc(100% + 80px);
		margin-left: -40px;
		margin-right: -40px;
		height: 500px;
		background-size: cover;
		background-position: center;
		margin-top: 30px;
	}
	.dropdown__item-list{
		padding-left: 0;
	}

	.opros__container{
		padding-bottom: 60px;
	}

	.opros__top{
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.opros__top-radio{
		font-size: 20px;
		justify-content: flex-start;
	}

	.opros__top-radio .custom-radio{
		top: 6px;
	}

	.dropdown__item-text{
		padding-left: 0px;
		padding-top: 0px;
	}
}

@media (max-width: 1100px){
	.tabs__item{
		font-size: 16px;
		height: 50px;
		width: calc(100% / 4 - 26px / 4);
	}

	.tabs__item:after{
		width: 26px;
		right: -24px;
	}


}
@media (max-width: 900px){

	
	.limit__text{
		width: 100%;
	}

	.opros__item-wrap:nth-child(5), .opros__item-wrap:nth-child(6){
		width: 100%;
	}

	.opros__item-bottom{
		display: flex;
		align-items: center;
		
	}

	.opros__item-anot{
		padding-right: 20px;
	}
	.opros__btn{
		order: 2;
	}

	.footer__col{
		width: 50%;
		font-size: 16px;
		margin-left: 10px;
	}
}
@media (max-width: 768px){
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}

	.main__image{
		margin-left: -15px;
		margin-right: -15px;
		width: calc(100% + 30px);
	}

	.main__head{
		margin-left: -15px;
		margin-right: -15px;
		width: calc(100% + 30px);
		padding-left: 15px;
		padding-right: 15px;
	}
	.logo__text{
		margin-left: 20px;
		width: 200px;
		line-height: 1.3;
	}

	.dropdown__item-head{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.dropdown{
		padding-bottom: 50px;
	}

	.footer__container-inner{
		padding-top: 35px;
		padding-bottom: 35px;
	}
}


@media (max-width: 767px){

	
	.opros__item_num{
		width: 30px;
		height: 60px;
	}
	.opros__item-wrap{
		width: 100%;
		margin-bottom: 17px;
	}
	.opros__item-head{
		margin-bottom: 30px;
	}
	.opros__item{
		padding: 20px 46px;
	}

	.radio-wrap{
		margin-bottom: 15px;
	}
	.input{
		height: 43px;
	}
	.wrap-input{
		margin-bottom: 18px;
	}

	.footer__container-inner{
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer__content{
		width: 100%;
	}
	.footer__content{
		padding-top: 30px;
	}
}
@media (max-width: 720px){
	.main__triggers-item{
		width: 100%;
		margin-right: 0;
	}

	.main__head {
		font-size: 36px;
	}

	.main__image{
		height: 332px;
	}

	.anot__text{
		font-size: 25px;
	}
	.tabs__container{
		flex-wrap: wrap;
	}

	.tabs__item:first-child, .tabs__item:last-child{
		padding-left: 30px;
		padding-right: 30px;
	}
	.tabs__item{
		width: calc(100% - 26px);
		margin-bottom: 4px;
		padding-left: 30px;
		justify-content: center;
	}
}

@media (max-width: 650px){
	.opros__top{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.opros__top-radio .custom-radio{
		position: static;
	}
	.opros__top-radio .radio-text{
		margin-left: 10px;
		line-height: 1.2;
	}
	.radio-wrap{

	}
}
@media (max-width: 576px){

	.answer__container{
		padding-top: 20px;
	}
	.answer__logo{
		padding-bottom: 20px;
	}
	.answer__text{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.answer__text-head{
		font-size: 30px;
	}

	.answer__logo{
		font-size: 10px;
	}

	.answer__text-p{
		font-size: 16px;
	}
	
	.main{
		padding-bottom: 40px;
	}
	.btn{
		font-size: 11px;
		width: 160px;
		min-width: auto;
		height: 40px;
		padding-left: 20px;
		padding-right: 20px;
		white-space: nowrap;
	
	}
	.logo__text{
		font-size: 12px;
		width: auto;
	}

	.limit__head{
		font-size: 24px;
		line-height: 1.2;
	}
	.limit__img{
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		min-height: 406px;
	}

	.text{
		font-size: 16px;
	}

	.limit{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.limit__anot{
		margin-left: -15px;
		margin-right: -15px;
		width: calc(100% + 30px);
		padding-top: 92px;
		padding-bottom: 72px;
	}
	.limit__anot-text{
		font-size: 24px;
		width: 328px;
		text-align: center;
	}
	.limit__anot-text br{
		display: none;
	}

	.limit__anot-quote_top {
			top: -45px;
			left: 25px;
	}
	.limit__anot-quote_bottom {
			bottom: -45px;
			right: 18px;
	}
	.custom-ul li:before{
		width: 16px;
		height: 31px;
		background-size: contain;
	}

	.opros__item-bottom{
		flex-direction: column-reverse;
	}

	.opros__btn{
		width: 210px;
		height: 50px;
		font-size: 16px;
		margin-top: 39px;
		margin-bottom: 35px;
	}
	.opros__item{
		font-size: 16px;
	}
	.opros__item-head{
		font-size: 18px;
	}
	
	.dropdown__item-list{
		column-count: 1;
	}
	.dropdown__bottom-img{
		height: 400px;
		margin-top: 0;
	}
	.dropdown__item-content{
		padding-top: 20px;
	}
	.dropdown__item-list-item{
		font-size: 16px;
	}
	
	.opros__container{
		padding-bottom: 40px;
	}

	.footer__col{
		font-size: 12px;
	}
}

@media (max-width: 370px){
	.btn{
		padding-left: 10px;
		padding-right: 10px;
	}
	.logo__text{
		font-size: 10px;
	}
}