@font-face {
    font-family: 'Zen Maru Gothic';
    src: url('ZenMaruGothic-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Maru Gothic';
    src: url('ZenMaruGothic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Maru Gothic';
    src: url('ZenMaruGothic-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Maru Gothic';
    src: url('ZenMaruGothic-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Maru Gothic';
    src: url('ZenMaruGothic-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

