@font-face {
    font-family: DINPro;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/DINPro.eot) format("eot"),
    	url(../fonts/DINPro.woff) format("woff"),
    	url(../fonts/DINPro.woff2) format("woff2"),
    	url(../fonts/DINPro.ttf) format("ttf")
}

@font-face {
    font-family: DINPro;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/DINPro-Medium.eot) format("eot"),
        url(../fonts/DINPro-Medium.woff) format("woff"),
        url(../fonts/DINPro-Medium.woff2) format("woff2"),
        url(../fonts/DINPro-Medium.ttf) format("ttf")
}



@font-face {
    font-family: DINPro;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/DINPro-Bold.eot) format("eot"),
        url(../fonts/DINPro-Bold.woff) format("woff"),
        url(../fonts/DINPro-Bold.woff2) format("woff2"),
        url(../fonts/DINPro-Bold.ttf) format("ttf")
}

@font-face {
    font-family: DINPro;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/DINPro-Black.eot) format("eot"),
        url(../fonts/DINPro-Black.woff) format("woff"),
        url(../fonts/DINPro-Black.woff2) format("woff2"),
        url(../fonts/DINPro-Black.ttf) format("ttf")
}

