@font-face {
    font-family: 'Phenomena';
    src: url('Phenomena-Black.eot');
    src: url('Phenomena-Black.eot?#iefix') format('embedded-opentype'),
        url('Phenomena-Black.woff2') format('woff2'),
        url('Phenomena-Black.woff') format('woff'),
        url('Phenomena-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Phenomena';
    src: url('Phenomena-Bold.eot');
    src: url('Phenomena-Bold.eot?#iefix') format('embedded-opentype'),
        url('Phenomena-Bold.woff2') format('woff2'),
        url('Phenomena-Bold.woff') format('woff'),
        url('Phenomena-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Phenomena';
    src: url('Phenomena-ExtraBold.eot');
    src: url('Phenomena-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Phenomena-ExtraBold.woff2') format('woff2'),
        url('Phenomena-ExtraBold.woff') format('woff'),
        url('Phenomena-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Phenomena';
    src: url('Phenomena-Regular.eot');
    src: url('Phenomena-Regular.eot?#iefix') format('embedded-opentype'),
        url('Phenomena-Regular.woff2') format('woff2'),
        url('Phenomena-Regular.woff') format('woff'),
        url('Phenomena-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

