/* USER VARIABLES SECTION */

:root {
	--accent: #C420F4;
	--text: #fff;
	--regular-text: 16px;
	--lineheight: 1.4;
	--userfont: Gilroy, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-ExtraBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-UltraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-UltraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/woff/Gilroy-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}



/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

.body_lock{
	overflow: hidden;
}

/* USER STYLES */

.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}

.accent {
	color: var(--accent);
	font-weight: bold;
}

a:hover{
	color: var(--accent)
}
p{
	font-weight: 160%;
}


.btn{
	width: 200px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	background: linear-gradient(92.01deg,#BF15F3 6.23%,#EB2C5A 43.77%,#EB2C5A 71%,#BF15F393 93.77%) 0 0/200% 100% no-repeat;
	text-decoration: none;
	transition: .3s;
	position: relative;
}



.btn:hover{
	color: white;
	background: linear-gradient(92.01deg,#BF15F3 6.23%,#EB2C5A 43.77%,#EB2C5A 71%,#BF15F393 93.77%) 100% 0/200% 100% no-repeat;;
}




.btn:hover::before{
	opacity: 1;
}

.btn-white{
	background: #fff;
	color: #15172B;
	border: 2px solid transparent;
}


.btn-white:hover{
	color: #15172B;
	background: #fff;
}

/* Icon 1 */

.burger{
  width: 40px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
	display: none
}

.burger-transparent{
	opacity: 0;
}
.burger .burger__line{
  display: block;
  height: 5px;
	margin-bottom: 7px;
  width: 100%;
  background: #fff;
	border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger__line:last-child{
	margin-bottom: 0;
}

.mobile-menu{
	margin-top: 60px;

}
.mobile-menu_link{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	padding-left: 49px;
	display: block;
	padding-bottom: 25px;
	padding-top: 25px;
	border-bottom: 1px solid #2A2641;
}

.privacy__margin-item{
	margin-bottom: 4em;
}
.privacy-content{
	line-height: 1.7;
	font-size: 16px;
	padding-top: 5em;
}

.privacy-content .ul_no-margin li{
	margin-bottom: 0;
}
.privacy-content h2{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 1em;
}

.privacy-content h3{
	font-size: 16px;
	font-weight: 600;
}
.privacy-content li{
	margin-bottom: 1em;
}

.privacy-content a{
	color: #fff;
}

.privacy-content .section-head-h2{
	margin-bottom: 1em;
	font-size: 30px;
	font-weight: 500;
}

.privacy-content .section-head{
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.container{
	max-width: 1480px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;

}

.section-head{
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 40px;
}




.section-text{
	font-size: 26px;
	color: #fff;
	font-weight: 500;
	line-height: 160%;
}

.wrapper{
	background-color: #15172B;
	color: #fff;
	overflow-x: hidden;
}


.header{
	padding-top: 45px;
	padding-bottom: 45px;
}
.header .container{
	display: flex;
	align-items: center;
	justify-content: space-between
}

.header-right{
	display: flex;
	align-items: center;
}

.menu_item{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	margin-right: 40px;
	transition: color .3s;
}

.menu_item:last-child{
	margin-right: 0;
}
.menu{
	margin-right: 60px;
}

.small-head{
	font-size: 55px;
	font-weight: 600;
	position: relative;
}


.main__content-head{
	font-weight: 700;
	font-size: 70px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.main__content-descrip{
	font-size: 30px;
	font-weight: 500;
	line-height: 1.7;
	margin-bottom: 50px;
}

.main__content{
	width: 50%;
}

.main{
	padding-top: 130px;
	padding-bottom: 258px;
	position: relative;

}
.main::before{
	content: '';
	display: block;
	width: 489px;
	height: 1208px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/cloud.png');
	position: absolute;
	left: 0;
	bottom: -600px;
	pointer-events: none;
}

.main__shadow{
	position: absolute;
	left: -250px;
	top: -350px;
	pointer-events: none;

}

.main .container{
	position: relative;
}

.main__img{
	position: absolute;
	top: -300px;
	right: -385px;
	pointer-events: none;
}

.small-icon__item{
	position: absolute;
	animation: icon-animate 4s infinite;
}

.small-icon__item-3{
	left: 16px;
	top: 322px;
}


.small-icon__item-1{
	top: 449px;
	left: 213px;
	animation-delay: 2s;
}

.small-icon__item-4{
	bottom: 262px;
	left: 156px;
	animation-delay: 1s;
}

.main__img-img{
	width: 100%;
}


.video-slider__wrap{
	width: 58%;
	transform: translateX(-160px);
}
.video-slider{
	width: 100%;
	margin-left: 0;
	height: 700px;
}


.video-slider__head{
	font-size: 60px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 30px;
	padding-left: 40px;
}
.video-slider__head--mobile{
	display: none;
}
.video-slider-arrow{
	position: static;
	width: 66px;
	height: 58px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/right.svg');
}

.video-slider-arrow::after{
	font-size: 0px;
}

.video-slider-arrow.swiper-button-next{
	transform: rotate(180deg)
}
.video-slider__nav{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.video-slider .swiper-slide{
	height: 580px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: transform .6s, width .6s;
	width: calc(100% / 3);
	opacity: .2;
	box-shadow: 0px 0px 31px 6px rgba(194, 22, 231, 0.2);


}

.video-slider .swiper-slide video{
	height: 100%;
	width: auto;
}


.video-slider .swiper-slide-active{
	z-index: 1;
	width: calc(100% / 3);
	opacity: 1;
	transform: scale(1.1);

}





.video-slider .swiper-wrapper{
	align-items: center;
}

.head-center {
	font-size: 60px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 80px;
}


.text-gradient{
	background-color: #fff;
  background-image: linear-gradient(90.51deg, #BF15F3 9.11%, #EB2C5A 98.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.marketing{
	margin-bottom: 270px;
	position: relative;
	z-index: 1;
}

.marketing .container{
	position: relative;
}

.marketing__shadow{
	position: absolute;
	z-index: 0;
	right: -800px;
	top: -250px;
	pointer-events: none;
}

.marketing-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 1;
}
.marketing__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 23%;
}

.marketing__item:nth-child(1) .marketing__item-text{
	max-width: 295px;
}

.marketing__item:hover .marketing__item-img{
	transform: scale(1.2) rotate(5deg);
}
.marketing__item-img {
	transition: transform .3s;
	
}

.marketing__item-img img{
	max-width: 200px;
}
.marketing__item-head {
	font-weight: 600;
	font-size: 36px;
	margin-bottom: 30px;
}


.marketing__item:nth-child(2) .marketing__item-text{
	max-width: 305px;
}
.marketing__item-text{
	color: #86A7BF;
	font-size: 18px;
}


.about__item{
	min-height: 100%;
	background-color: #fff;
}


.about__item-img__mask{
	content: '';
	display: block;
	background: linear-gradient(112.9deg, #315A77 0%, #9855BA 100%);
	z-index: 0;
	height: 286px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about__item-content{
	background-color: #fff;
	padding: 25px;
}

.about__item-text{
	color: #888787;
	font-size: 22px;
	margin-top: 20px;
	font-weight: 400;

}

.about__item-head{
	font-size: 30px;
	font-weight: 600;
	color: #15172B;
}

.about-slider-wrapper{
	position: relative;
}
.about-slider{
	width: 100%;
}








.about-head{
	margin-bottom: 60px;
}




.about{
	margin-bottom: 180px;
}

.trigger-content{
	background: linear-gradient(95.86deg, #BF15F3 -4.47%, #EB2C5A 110.15%);
	padding: 90px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 28px 5px rgba(230, 41, 109, 0.6);
	position: relative;
	z-index: 1;
}
.trigger-head{
	margin-bottom: 55px;
	max-width: 980px;
}

.trigger{
	margin-bottom: 180px;
}

.team__item-img-wrap{
	position: relative;
}
.team__item-img{
	width: 85%;
	-webkit-filter: drop-shadow(5px 5px 35px #A754C5);
  filter: drop-shadow(5px 5px 35px #A754C5);
	position: relative;
}

.team__item:nth-child(2) .team__item-img{
	width: 100%;
}

.team__item:nth-child(4) .team__item-img{
	width: 100%;
}

.team-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.team__item{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: calc(100% / 6);
	padding-left: 5px;
	padding-right: 5px;
}

.team__item-name{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.team__join-item{
	display: flex;
	align-items: center;
	background-image: url('../images/p11.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

.team__join-item{
	position: relative;
	max-width: 155px;

}


.team__join-item-head{
	position: relative;
	font-size: 28px;
	width: 90%;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.team__item-content{
	position: relative;

}
.who-we{
	margin-bottom: 260px;
}

.who-we .container{
	display: flex;
	align-items: center;
	position: relative;
}
.who-we__content{
	width: 50%;
}
.who-we__bottom{
	display: flex;
	align-items: center;
	position: relative;
	padding-top: 30px;
	margin-top: 80px;
}

.who-we__bottom:before{
	content: '';
	display: block;
	width: 320px;
	height: 3px;
	background-color: #CA98F8;
	border-radius: 3px;
	position: absolute;
	top: 0px
}
.who-we__bottom-img{
	margin-right: 50px;
}

.who-we__bottom-img:last-child{
	margin-right: 0;
}

.who-we__brands{
	width: 65%;
	position: absolute;
	right: -345px;
}

.who-we__bottom-right{
	display: flex;
}

.who-we__bottom-right .who-we__bottom-img{
	display: flex;
	align-items: center;
}
.who-we__bottom-text{
	margin-left: 5px;
	white-space: nowrap;
}
.brands-row{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.brands__item{
	margin-right: 74px;
}

.brands-row:nth-child(even){
	position: relative;
	left: -60px;
	animation: logo-animate-right 10s infinite;
}

.brands-row:nth-child(odd){
	animation: logo-animate-left 10s infinite;
}

.video-slider__pag-wrap{
	max-width: 588px;

}
.video-slider__pag{
	width: 100%;
	overflow: visible;
}

.campaigns{
	margin-bottom: 174px;
}
.campaigns__sliders-wrap{
	display: flex;
	justify-content: space-between;

}
.pag-item__head {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 20px;

}
.pag-item__text {
	transition: opacity .3s;
	font-weight: 500;
	line-height: 140%;
	color: #8EAEC9;
	font-size: 0px;
	opacity: 0;
}
.video-slider__pag-item {
	padding-left: 40px;
	padding-bottom: 30px;
	padding-right: 83px;
	padding-top: 30px;
	background: linear-gradient(93.73deg, transparent -9.08%, transparent 104.69%);
	cursor: pointer;
	height: auto !important;
	position: relative;
}

.video-slider__pag-item::after{
	content: '';
	display: block;
	width: 115px;
	height: 115px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;	
	right: -50px;
	top: -50px;
	opacity: 0;
	transition: opacity .3s;
}


.pag_web-ar::after{
	background-image: url('../images/smallWebAR.png');
}
.pag_web-inst::after{
	background-image: url('../images/smallinst.png');
}
.pag_web-tiktok::after{
	background-image: url('../images/smalltiktok.png');
}
.pag_web-snap::after{
	background-image: url('../images/smallsnap.png');
}
.video-slider__pag-item.swiper-slide-thumb-active{
	background: linear-gradient(93.73deg, #1A3141 -9.08%, #4A285B 104.69%);
	
}

.video-slider__pag-item.swiper-slide-thumb-active .pag-item__text{
	font-size: 18px;
	opacity: 1; 
}

.video-slider__pag-item.swiper-slide-thumb-active::after{
	opacity: 1;
}

.mob-menu-close{
	width: 35px;
	height: 35px;
	position: absolute;
	right: 23px;
	top: 38px;
}

.mob-menu-close:before{
	content: '';
	display: block;
	width: 110%;
	height: 4px;
	background-color: #fff;
	border-radius: 10px;
	position: absolute;
	top: calc(50% - 4px / 2);
	transform: rotate(45deg);
}
.mob-menu-close:after{
	content: '';
	display: block;
	width: 110%;
	height: 4px;
	background-color: #fff;
	border-radius: 10px;
	position: absolute;
	top: calc(50% - 4px / 2);
	transform: rotate(-45deg);
}



.mobile-menu-mask{
	width: 380px;
	height: 100vh;
	position: fixed;
	right: -480px;
	top: 0px;
	right: 0px;
	background-color: rgba(21, 23, 43, 0.95);
	right: 0px;
	top: 0px;
	z-index: 100;
	transition: transform .3s;
	transform: translateX(480px);
}

.mobile-menu-mask_active{
	transform: translateX(0px);
}

.section-7{
	display: none;
}


.section-descrip{
	font-size: 37px;
	font-weight: 600;
	text-transform: uppercase;
}

.par-place__item{
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	cursor: pointer;
	transition: color .3s;
}

.par-place__item.selected{
	color: #EB2C5A;
}

.par-place__item.selected::after{
	color: #fff;
}

.par-place__item:after{
	content: ' /';
	font-weight: 100;
}

.par-place__item:last-child::after{
	display: none;
}

.map{
	padding-top: 232px;
	padding-bottom: 87px;
	overflow: hidden;

}

.map__bottom{
	display: flex;
	justify-content: flex-end;
}

.hide-interface .form-response{
	opacity: 1;
	pointer-events: auto;
}
.form-response{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	background-color: rgba(0,0,0, .9);
	transition: .3s;
	padding: 50px;
	opacity: 0;
	pointer-events: none;
	top: 0px;
	left: 0px;
}


.map__form-wrap{
	margin-left: auto;
	position: relative;
	z-index: 2;
}




.map__shadow{
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -100px;
}
.map__form-head{
	font-size: 45px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 35px;
}



.map__form{
	display: flex;
}

.wrapper-input{
	position: relative;
}

.error-message{
	position: absolute;
	top: 40px;
	font-size: 12px;
	color: red;
	font-weight: 600;
	top: 47px;
	transition: .3s;
	opacity: 0;
	pointer-events: none;
	line-height: 1.2;
}

.wrapper-input.error .error-message{
	opacity: 1;
	pointer-events: auto;
}

.wrapper-input:last-child .input{
	margin-bottom: 0;
}


.input{
	display: block;
	transition: background-color .3s;
}

.input:focus, .textarea:focus{
	background-color: #fff;
}

.map__top{
	margin-bottom: 270px;
	position: relative;
	z-index: 2;
}

.map__top .section-descrip{
	margin-bottom: 10px;
}
.map__form-left{
	margin-right: 44px;
}
.map__form-left .input{
	margin-bottom: 43px;
}


.map__form-left .input{
	width: 376px;
}

.input{
	height: 45px;
	padding: 0px 23px;
	
}

.textarea{
	resize: none;
	width: 376px;
	height: 110px;
	padding: 11px 15px;
}
.input, .textarea{
	color: #090909;
	font-size: 16px;
	font-weight: 400;
	background-color: #DCDAE5;
	border: none;
}
.input::placeholder, .textarea::placeholder{
	color: #090909;
	
}

.map__form-anot{
	font-size: 10px;
	font-weight: 400;
	width: 70%;
}

.map__form-left, .map__form-right{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.map__form-right{
	width: 376px;
}


.map .container{
	display: flex;
	flex-direction: column;
	position: relative;

}

.container-map{
	width: 100%;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
}

.hint-address{
	position: fixed;
	z-index: 1;
	padding-left: 10px;
	max-width: 180px;
	color: #adadad;
	font-size: 14px;
	/* pointer-events: none; */
	/* visibility: hidden; */
}

.hint-address::after{
	content: '';
	position: absolute;
	display: block;
	width: 1px;
	height: 0;
	background-color: #adadad;
	left: 0px;
	bottom: 0px;
	transition: height .3s;
}

.hint-address .text{
	margin-bottom: 0;
	opacity: 0;
	transition: opacity .3s, transform .3s;
	padding-bottom: 30px;
	transform: translateY(-20px);
}

.hint-address.show{
	visibility: visible;
}

.hint-address.show .text{
	opacity: 1;
	transform: translateY(0px);

}
.hint-address.show::after{
	height: 100%;

}
.container-map svg [data-place] {
	transition: .3s linear;
	cursor: pointer
}


.modal {
	font-family: var(--userfont);
}

.modal-reg .modal__container{
	width: 520px;
	max-width: 520px;
	background-color: #A753C5;
	padding-top: 29px;
	padding-bottom: 63px;
	border-radius: 0px;
}

.modal-reg .black-btn{
	margin-left: auto;
	margin-right: auto;
}
.modal-reg form{
	max-width: 376px;
	margin-left: auto;
	margin-right: auto;
}

.modal-reg .input{
	width: 100%;
	height: 45px;
	color: #090909;
	font-size: 16px;
	font-weight: 400;
	border: none;
	padding: 0 23px;

}

.polit{
	font-size: 12px;
	font-weight: 300;
	color: #fff;
	max-width: 367px;
}
.modal__form{
	position: relative;
}
.modal .btn{
	margin-left: auto;
	margin-right: auto;
}
.input-wrap{
	margin-bottom: 40px;
	position: relative;
}

.input-wrap .error-message{
	color: #ff5858;
}

.input-wrap.error .error-message{
	opacity: 1;
	display: block;
}
.input-wrap.input-wrap-last{
	margin-bottom: 0;
}
.modal__close{
	font-size: 30px;
	font-weight: 900;
	color: #fff;
}
.modal__header{
	justify-content: flex-end;
}

.modal__content .textarea{
	width: 100%;
}




.cont-block-1 a{
	color: #fff;
}

.footer__content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 19px;
	font-weight: 400;
	padding-top: 50px;
	padding-bottom: 50px;
}

.cont-block-1{
	display: flex;

}

.cont-block-1 p {
	margin-bottom: 0;
	margin-right: 5px;
}

.cont-block-2{
	display: flex;
	align-items: center;
}
.cont-block-2 p {
	margin-bottom: 0;
	margin-right: 28px;
}

.container-social-link{
	display: flex;
	align-items: center;
}
.social-link{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 49px;
	height: 49px;
	border-radius: 50%;
	border: 1px solid #fff;
	margin-right: 13px;
	transition: border .3s;
}

.social-link:hover{
	background: linear-gradient(90.51deg, rgb(191, 21, 243) 9.11%, rgb(235, 44, 90) 98.58%);
	border: 1px solid transparent;
}

.social-link:last-child{
	margin-right: 0;
}
@keyframes icon-animate{
	0%{
		transform: translateX(0px);
	}
	50%{
		transform: translateX(20px);
	}
	100%{
		transform: translateX(0px);
	}
}

@keyframes logo-animate-right {
	0%{
		transform: translateX(0px);
	}
	50%{
		transform: translateX(50px);
	}
	100%{
		transform: translateX(0px);
	}
}

@keyframes logo-animate-left {
	0%{
		transform: translateX(0px);
	}
	50%{
		transform: translateX(-50px);
	}
	100%{
		transform: translateX(0px);
	}
}