@font-face {
    font-family: sourcesanspro;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/sourcesanspro.woff2) format("woff2"),
    	url(../fonts/sourcesanspro.woff) format("woff"),
    	url(../fonts/sourcesanspro.eot) format("eot"),
    	url(../fonts/sourcesanspro.ttf) format("ttf")
}

@font-face {
    font-family: rodchenk;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/subset-RodchenkoC.woff2) format("woff2"),
    	 url(../fonts/subset-RodchenkoC.woff) format("woff"),
    	 url(../fonts/subset-RodchenkoC.eot) format("eot"),
    	 url(../fonts/subset-RodchenkoC.ttf) format("ttf")
}