/* USER VARIABLES SECTION */

:root {
	--accent: rgba(30, 30, 30, 0.8);
	--text: rgba(30, 30, 30, 0.8);
	--regular-text: 14px;
	--lineheight: 1.4;
	--userfont: 'Frutiger Neue LT W1G', sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */

@font-face {
	font-family: 'Frutiger Neue LT W1G';
	src: url('../fonts/FrutigerNeueLTW1G-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Frutiger Neue LT W1G';
	src: url('../fonts/FrutigerNeueLTW1G-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Frutiger Neue LT W1G Book';
	src: url('../fonts/FrutigerNeueLTW1G-Book.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Frutiger Neue LT W1G';
	src: url('../fonts/FrutigerNeueLTW1G-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Frutiger Neue LT W1G';
	src: url('../fonts/FrutigerNeueLTW1G-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Frutiger Neue LT W1G Book';
	src: url('../fonts/FrutigerNeueLTW1G-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Frutiger Neue LT W1G';
	src: url('../fonts/FrutigerNeueLTW1G-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Vollkorn';
	src: url('../fonts/Vollkorn-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}





/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

/* USER STYLES */

.body-hidden{
	overflow: hidden;
}
.input {
	height: 34px;
	border: 1px solid #CCCCCC;
	padding: 7px 10px;
	border-radius: 20px;
	letter-spacing: 0.05em;
	font-size: 12px;
	font-weight: 300;
}

.textarea{
	resize: none;
	border: 1px solid #CCCCCC;
	padding: 7px 10px;
	border-radius: 20px;
	letter-spacing: 0.05em;
	font-size: 12px;
	font-weight: 300;
}

.input::placeholder{
	color: #636363;
}
.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}

.accent {
	color: var(--accent);
	font-weight: bold;
}


.wrapper{
	overflow-x: hidden;
	transition: transform .3s;
}
.container{
	max-width: 1440px;
	padding-left: 75px;
	padding-right: 75px;
}

.container--big{
	padding-left: 30px;
	padding-right: 30px;
}

/* slick */
.slick-dots{
	padding-left: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.slick-dots li{
	font-size: 0px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #C4C4C4;
	cursor: pointer;
	margin-right: 11px;
	margin-left: 11px;
}


.slick-dots li.slick-active{
	background-color: #848484;
}

.slick-dots button{
	display: none;
}

.slick-arrow{
	border: none;
	background-color: transparent;
	width: 30px;
	height: 54px;
	background-position: center;
	font-size: 0px;
	background-image: url('../images/slidearrow.svg');
	position: absolute;
	top: calc(50% - 54px / 2);
	z-index: 2;
}

.slick-next{
	right: 0px;
}

.slick-prev{
	left: 0px;
	transform: rotate(180deg);
}

/* .slick-list{
	overflow: visible;
}

.slick-slide {
	text-decoration: none;
	opacity: 0;
	transition: .3s;
	pointer-events: none;
}

.slick-active{
	opacity: 1;
	pointer-events: auto;
} */

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-left: 70px;
	padding-right: 70px;
	height: 40px;
	border-radius: 20px;
	background: rgba(30, 30, 30, 0.8);
	border: 1px solid rgba(30, 30, 30, 0.8);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
	color: #fff;
	text-decoration: none;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 11px;
	transition: .3s;
}

.btn-white{
	background-color: #fff;
	color: rgba(30, 30, 30, 0.8);
	border: none;
}
.btn-white-border{
	border: 1px solid var(--accent);
}

.btn--opacity{
	background-color: transparent;
	color: var(--text)
}
.btn.btn--opacity:hover{
	background-color: var(--accent);
	color: #fff;
}
.btn:hover{
	color: rgba(30, 30, 30, 0.8);
	background-color: transparent;
}

.btn-white:hover{
	color: #fff;
	background: rgba(30, 30, 30, 0.8);
}

.main-item{
	padding-top: 30px;
	padding-bottom: 30px;
}

.btn--buy{
	max-width: 270px;
}

.burger{
	width: 30px;
	display: none;
}

.burg{
	width: 30px;
}
.burger-line{
	width: 100%;
	display: block;
	height: 3px;
	background-color: var(--accent);
	margin-bottom: 5px;
	transition: .3s;
}
.burger-line:last-child{
	margin-bottom: 0;
}

.burg--active{
	position: relative;
}
.burg--active .burger-line:nth-child(2){ 
	opacity: 0;
}

.burg--active .burger-line{
	position: absolute;
	top: calc(50% - 3px / 2);
}

.burg--active .burger-line:nth-child(1){
	transform: rotate(45deg);
}
.burg--active .burger-line:nth-child(3){
	transform: rotate(-45deg);
}

.section-head{
	font-size: 26px;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	line-height: 1.2;
}

.main__section{
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #CCCCCC;
}

.btn-center{
	display: flex;
	justify-content: center;
}

.header__anot{
	background-color: #E0CFC5;
	padding-top: 8px;
	padding-bottom: 8px;
}
.header__anot-text{
	text-align: center;
	font-size: 14px;
	font-weight: 400;
}
.header__search-mobile{
	display: none;
}
.header__top {
	display: flex;
	justify-content: space-between;
	padding-top: 21px;
	padding-bottom: 21px;
}

.header__top-item {
	display: flex;
	align-items: center;
}
.header__logo{
	margin-right: 40px;
}

.burger{
	margin-right: 20px;
	position: relative;
	top: 2px;
}

.header__search {
	display: flex;
	align-items: center;
	border: 1px solid #CCCCCC;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	height: 36px;
	margin-right: 10px;
}
.header__search-input {
	height: 100%;
	padding-left: 10px;
	border-radius: 20px 0px 0px 20px;
	width: 420px;
	border: none;
	font-size: 12px;
	letter-spacing: 0.05em;
	font-weight: 300;
}
.header__search-btn {
	border-radius: 0px 20px 20px 0px;
	border: none;
	color: #fff;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background-color: rgba(30, 30, 30, 0.8);
	height: 100%;
	width: 121px;
}

.header__top-nav {
	display: flex;
}

.header__top-nav-item{
	text-decoration: none;
	color: rgba(30, 30, 30, 0.8);
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	margin-right: 20px;
}
.header__top-nav-parent {
}
.header__top-nav-dropdown {
	display: none;
}
.header__top-nav-dropdown-item {
}
.header__top-like {
	margin-right: 35px;
}
.header__top-lk{
	margin-right: 31px;
	display: none;
}

.header__top-minishop {
	position: relative;
}

.header__top-minishop-count{
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #FF7D60;
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	top: -6px;
	right: -6px;

}
.header__bottom {
	background-color: #636363;
	position: relative;
}

.header__catalog-btn{
	padding-top: 5px;
	padding-bottom: 5px;
}
.header__catalog-btn-mask{
	display: flex;
	align-items: center;
	line-height: 1;
	color: #fff;
	cursor: pointer;
	padding: 5px;
	border-radius: 20px;
	border: 1px solid transparent;
	transition: border-color .3s;
}

.header__catalog-btn-mask:hover{
	border-color: #fff;
}

.menu__item-wrap-parent:hover .header__dropdown{
	opacity: 1;
	pointer-events: auto;
}
.header__catalog-burger{
	margin-right: 10px;
	position: relative;
	top: -1px;
}

.header__bottom .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__catalog-btn-text{
	font-weight: 350;
	font-size: 18px;
}

.header__banner {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1.5;
}
.header__banner .container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__banner-icon-wrap{
	margin-right: 10px;
}


.header__dropdown{
	width: 100vw;
	position: absolute;
	left: 0;
	top: 44px;
	background-color: #fff;
	z-index: 1;
	color: var(--text);
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: auto;
	opacity: 0;
	pointer-events: none;
	transition: .3s;
}

.header__dropdown-menu {
	column-count: 2;
	width: 50%;
}
.header__dropdown-menu-group {
}
.header__dropdown-menu-item {
	margin-bottom: 16px;

}
.header__dropdown-menu-head {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
}
.header__dropdown-menu-link {
	text-decoration: none;
	color: var(--text);
}

.header__dropdown-menu-link:hover{
	color: inherit;
}

.header__dropdown-goods {
	width: 50%;
	display: flex;
	justify-content: flex-end;

}
.header__dropdown-goods-item {
	text-decoration: none;
	color: var(--text);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 185px;
	margin-left: 70px;
}
.header__dropdown-goods-item:hover{
	color: inherit;
	
}

.header__dropdown-goods-item-img img{
	max-width: 185px;
	margin-left: auto;
	margin-right: auto;
}

.header__dropdown-goods-item-cat {
	text-align: center;
	margin-bottom: 5px;
	margin-bottom: 10px;
}
.header__dropdown-goods-item-name {
	text-align: center;
	font-weight: 500;
	margin-bottom: 10px;
	margin-bottom: 20px;
}
.item-link {
	text-align: center;
}

.main__slider {
	padding-bottom: 0;
	padding-top: 0;
}
.main__slider-item {
	display: flex;
}
.main__slider-image {
	width: calc(100% - 557px);
	min-height: 560px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.main__slider-content {
	min-height: 560px;
	width: 557px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #F4F0EB;
}
.main__slider-light-head {
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}
.main__slider-head {
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
}
.main__slider-content .btn{
	margin-top: 20px;
}




.goods-slider{
	margin-bottom: 30px;
}

.goods-slider__item-wrap{
	text-decoration: none;
}
.goods-slider__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: var(--text);
	position: relative;
	
}
.slider__item-icon{
	position: absolute;
	right: 0px;
	top: 0px;
}

.goods-slider__item-brand {
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 12px;
	margin-bottom: 0;
}


.goods-slider__item-price {
	font-weight: 400;
	font-size: 18px;
}




.menu {
	width: 85%;
	display: flex;
	justify-content: space-between;
}
.menu__item {
	display: block;
	color: #fff;
	text-decoration: none;
	font-weight: 350;
	font-size: 18px;
	padding: 8px 0px;
	position: relative;
}
.menu__item:hover{
	color: #fff;
	text-decoration: none;
}
.menu__item:hover::after{
	opacity: 1;
}
.menu__item::after{
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	position: absolute;
	left: 0;
	bottom: -1px;
	background-color: #fff;
	opacity: 0;
}


.main__article .container{
	display: flex;
}
.main-blog__center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}

.main__article-item {
	width: calc(100% / 3 - 40px / 3);
	margin-right: 20px;
}

.main__article-item:last-child{
	margin-right: 0;
}
.main__article-item-img {
	margin-bottom: 15px;
}
.main__article-item-category {
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-bottom: 5px;
	

}
.main__article-item-head {
	font-family: 'Vollkorn';
	font-weight: 400;
	font-size: 26px;
	margin-bottom: 10px;
}
.main__article-item-text {
	font-weight: 300;
	font-size: 14px;
}
.item-link {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--text);
	font-size: 12px;
	text-decoration: none;
	border-bottom: 1px solid var(--text);
	border-color: var(--accent);
	padding-bottom: 5px;
	transition: .3s;
}

.item-link:hover{
	color: inherit;
	border-color: transparent;
}


.main__article-item-img img{
	width: 100%;
	height: auto;
}

.main-blog__items-container{
	margin-right: -30px;
}
.main-blog__center-head {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: rgba(30, 30, 30, 0.8);
	margin-bottom: 5px;
	
}
.main-blog__center-logo {
	margin-bottom: 10px;
}

.main-blog__item-img img{
	width: 100%;
	max-width: 375px;
}
.main-blog__item-img{
	margin-bottom: 30px;
}
.main-blog__item-head{
	font-family: 'Vollkorn';
	font-weight: 400;
	font-size: 26px;
}

.main-blog__item{
	margin-right: 30px;
}


.main__good-slider {
}
.main__good-slider-item-container {
}
.main__good-slider-item {
	display: flex;
	align-items: center;
}
.main__good-slider-item-image{
	width: 50%;
}
.main__good-slider-item-image img{
	width: 100%;
	height: auto;
}
.main__good-slider-item-content {
	padding-right: 30px;
	width: 50%;
}
.main__good-slider-item-stars {
	margin-bottom: 10px;
}
.main__good-slider-item-head {
	font-weight: 400;
	font-size: 36px;
	font-family: 'Vollkorn';
	text-transform: uppercase;
	font-style: italic;
}
.main__good-slider-item-text {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.3;
	margin-bottom: 10px;
}
.main__good-slider-item-person {
	text-transform: uppercase;
	color: #636363;
	font-size: 12px;
	margin-bottom: 40px;
}
.main__good-slider-item-type {
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.main__good-slider-item-about {
	text-transform: uppercase;
	margin-bottom: 20px;
}

.main__good-slider-item-btn{
	display: flex;
	align-items: center;
}

.good-slider-item-btn__item-link{
	margin-left: 30px;
}

.faith{
	background-color: #AD958B;
	color: #fff;
}
.faith__image{
	width: 268px;
	height: 167px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.faith .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 70px;
	padding-bottom: 70px;
}


.faith__left{
	font-weight: 400;
	font-size: 26px;
	line-height: 1.2;
}

.faith__right-text{
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 30px;
}

.faith__right{
	width: 644px;
}

.faith__right .btn{
	max-width: 257px;
}


.main__baner .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main__baner-content{
	width: calc(100% - 480px);
}


.main__baner-content {
	text-align: center;
}
.main__baner-anot {
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.05em;
	margin-bottom: 15px;
	text-transform: uppercase;

}
.main__baner-head {
	font-family: 'Vollkorn';
	font-weight: 400;
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 20px;
}
.btn {
}
.main__baner-img {
	width: 480px;
}

.main__baner-img img{
	width: 100%;
}
.service-container{
	display: flex;
	justify-content: space-between;
}
.service__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: var(--text);
}

.service__item:hover{
	color: inherit
}

.service__item-img{
	margin-bottom: 20px;
}
.service__item-text {
	text-transform: uppercase;
}

.scroll-top-wrap{
	padding-top: 50px;
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
}

.scroll-top{
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: .3s;
}
.scroll-top:hover{
	opacity: .7;
}
.scroll-top-text{
	margin-top: 20px;
	text-transform: uppercase;
}


.footer {
	padding-top: 27px;
	padding-bottom: 65px;
	background-color: var(--accent);
	color: #fff;
	font-weight: 300;
}
.footer .container {
	display: flex;
}

.footer__menu {
	display: flex;
	flex-wrap: wrap;
	width: 64%;
}
.mobile-plus{
	display: none;
	transition: .3s;
}
.footer__head-opened .mobile-plus{
	transform: rotate(180deg);
}
.footer__menu-item {
	width: 25%;
	text-align: center;
	padding-right: 10px;
}



.footer__head {
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 15px;
}
.footer__menu-item-content {

}

.footer__menu-link-wrap{
	margin-bottom: 5px;
}
.footer__menu-link {
	color: #fff;
	text-decoration: none;
}
.footer__menu-link:hover{
	color: inherit;
	text-decoration: none;
}
.footer__menu-item-text {
}

.footer__content{
	width: 34%;
	padding-left: 10px;
}


.footer__content-item {
	margin-bottom: 20px;
}
.footer__head {
}
.footer-social-links {
	display: flex;
	align-items: center;
}
.footer-social__link {
	margin-right: 40px;
}

.footer-social__link:last-child{
	margin-right: 0;
}
.footer__form-wrap {
}
.footer__form {
}
.footer__form-line {
	display: flex;
	margin-bottom: 10px;

}
.footer__input {
	border: none;
	height: 36px;
	width: calc(100%  - 167px);
	border-radius: 10px 0px 0px 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.footer__button{
	border: none;
	height: 36px;
	width: 167px;
	border-radius: 0px 10px 10px 0px;
	background-color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	transition: .3s;
}

.footer__button:hover{
	background-color: var(--accent);
	color: #fff;
}

.footer__form-anot {
	font-size: 12px;
	font-weight: 400;
}

.footer__form-anot a {
	color: #fff;
}
.footer__form-care {
}
.footer__form-pay {
}
.footer__form-logo {
}
.footer__logo {
	
}
.footer__logo-anot {
	margin-top: 10px;
}



/* inner pages */

.inner-page--flex{
	display: flex;
}

.inner-page__sidebar{
	width: 300px;
}
.inner-page__content{
	width: calc(100% - 300px);
	padding-left: 30px;
}
.sidebar{
	background-color: #EFEFEF;
	padding: 15px;
}
.sidebar__logo{
	margin-bottom: 15px;
}

.sidebar__search{
	position: relative;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}
.sidebar__burger{
	display: none;
}
.sidebar__search-input{
	width: 100%;
	border: 1px solid #CCCCCC;
	border-radius: 20px;
	font-size: 12px;
	color: #636363;
	letter-spacing: 0.05em;
	padding: 0px 40px 0px 10px;
	height: 36px;
}

.sidebar__search-btn{
	position: absolute;
	right: 8px;
	top: 0px;
	height: 100%;
	border: none;
	background-color: transparent;
}

.sidebar__menu{
	margin-bottom: 60px;
}
.sidebar__menu-item {
	display: block;
	margin-bottom: 5px;
	text-decoration: none;
	color: var(--text);
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	background-color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: .3s;
	font-weight: 300;
}

.sidebar__menu-item:hover{
	background-color: var(--accent);
	color: #fff;
}


.sidebar__archive {
	margin-bottom: 55px;
}
.sidebar__archive-head {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.03em;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 10px;
	border-bottom: 5px solid #fff;
	margin-bottom: 15px;
}
.sidebar__archive-link-wrap {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar__archive-link {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.03em;
	color: var(--text);
	text-transform: uppercase;
	text-decoration: none;
	
}

.sidebar__archive-link:hover{
	color: inherit;
}


.sidebar__pop-haed {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.03em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.sidebar__pop-item {
	display: flex;
	align-items: center;
	color: var(--text);
	text-decoration: none;
	margin-bottom: 15px;
}
.sidebar__pop-img {
	margin-right: 9px;
	width: 78px;
	height: auto;
}
.sidebar__pop-text {
	font-size: 13px;
}

.banner {
	padding: 20px 20px 30px 20px;
	background-color: #EFEFEF;
	text-align: center;
	margin-bottom: 30px;
}
.banner__head-top {
	font-weight: 300;
	font-size: 24px;
	color: #9E9E9E;
	text-transform: uppercase;
	margin-bottom: 10px;
	
}
.banner__head {
	font-weight: 400;
	font-size: 48px;
	margin-bottom: 22px;
	line-height: 1.3;
}

.banner__head-bottom {
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #9E9E9E;
	font-size: 16px;
}
.banner__head-bold{
	font-size: 36px;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.banner__text{
	font-size: 14px;
	color: #000000;
	margin-bottom: 30px;
	font-weight: 300;
}
.post{
	max-width: 740px;
	margin-left: auto;
	margin-right: auto;
}

.post__image{
	margin-bottom: 30px;
}
.post__image img{
	width: 100%;
	height: auto;
}

.post__head{
	font-size: 28px;
	text-transform: uppercase;
}
.post__text{
	line-height: 1.6;
	font-size: 16px;
	font-weight: 300;
}

.post__date{
	margin-top: 20px;
	color: #9E9E9E;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
}

.social-line{
	margin-top: 32px;
	margin-bottom: 32px;
}

.social-line-wrap{
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding-top: 15px;
	padding-bottom: 15px;
}
.social-line-head{
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	margin-bottom: 15px;
}

.social-line__icons{
	display: flex;
	justify-content: center;
}

.social-line__item{
	margin-right: 15px;
	text-decoration: none;
}

.social-line__item:last-child{
	margin-right: 0;
}

.other-posts {
}


.other-posts-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.other-posts__item {
	width: calc(25% - 30px * 3 / 4);
	color: var(--text);
	text-decoration: none;
	text-align: center;
}

.other-posts__item:hover{
	color: inherit;
}

.other-posts__item-img {
	margin-bottom: 20px;
	width: 100%;
	height: auto;
}
.other-posts__item-cat {
	margin-bottom: 10px;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding: 5px;
	background-color: #EFEFEF;
	display: inline-block;
}
.other-posts__item-head {
	margin-bottom: 20px;
	font-family: 'Vollkorn';
	font-weight: 400;
	font-size: 26px;
}
.btn {
}
.btn-white {
}
.btn-white-border {
}
/* account */

.inner-page{
	padding-top: 60px;
	padding-bottom: 40px;
}

.account__pag {
	letter-spacing: 0.05em;
	font-weight: 300;
	margin-bottom: 32px;
}

.account__pag a{
	color: var(--text);

}

.account__pag-left {
	
	font-size: 32px;

}
.account__pag-right {
	font-size: 26px;
}


.account__menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.account__menu-item {
	width: calc(50% - 15px);
	margin-bottom: 30px;
	border: 1px solid #DADADA;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #000;
	transition: .3s;
	text-decoration: none;
}
.account__menu-item:hover{
	color: #000;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);

}

.account__menu-item-img {
	margin-bottom: 10px;
}
.account__menu-item-head {
	font-size: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.account__menu-item-text {
	font-size: 14px;
}

/* cat */

.shop-cat {
}
.shop-cat__item {
	display: flex;
	align-items: center;
	color: var(--text);
	text-decoration: none;
	margin-bottom: 30px;
}

.shop-cat__item:hover {
	text-decoration: none;
	color: inherit;
}
.shop-cat__item-image {
	max-width: 465px;
	width: 100%;
}

.shop-cat__item-image img{
	width: 100%;
	height: auto;
}
.shop-cat__item-content {
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 30px;
}
.shop-cat__item-cat {
	margin-bottom: 20px;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding: 5px;
	background-color: #EFEFEF;
	display: inline-block;
}
.shop-cat__item-head {
	margin-bottom: 20px;
	font-family: 'Vollkorn';
	font-weight: 400;
	font-size: 26px;
}
.shop-cat__item-text {
	font-size: 14px;
	font-weight: 300;
}


/* shopmain */

.mainshop-page{
	padding-bottom: 0;
}
.main-shop{
	display: flex;
}
.main-shop__left {
	width: calc(100% - 330px);
}

.main-shop__right{
	width: 330px;
	padding-left: 30px;
}
.main-shop__item {
	color: var(--text);
	text-decoration: none;
	display: block;
	margin-bottom: 30px;
}

.main-shop__item:hover{
	color: inherit;
	text-decoration: none;
}
.main-shop__item-img {
	margin-bottom: 20px;
}

.main-shop__item-img img{
	width: 100%;
	height: auto;
}

.main-shop__item-content {
	text-align: center;
}
.main-shop__item-cat {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 14px;
}
.main-shop__item-head {
	font-size: 26px;
	font-family: 'Vollkorn';
	margin-bottom: 20px;
	line-height: 1.2;
}
.item-link {
}

/* catalog */

.pagination {
}
.pagination__head {
	font-size: 26px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.pagination__line {
	margin-bottom: 17px;
}
.pagination__line-item{
	color: var(--text);
	font-size: 14px;
	text-decoration: none;
}

.pagination__line-item::after{
	content: ' / ';
}
.pagination__line-item:last-child::after{
	display: none;
}
.pagination__line-item:hover{
	color: inherit;
}


/* category */

.filters-sidebar {
}
.inner-page__sidebar {
}

.filters-sidebar__item-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 15px;
}

.filters-sidebar__item--active .filters-dropdown{
	display: block;
	margin-bottom: 15px;
}
.filters-sidebar__item--active .filters-plus:before{
	transform: rotate(0deg);
}
.filters-plus{
	width: 15px;
	height: 15px;
	position: relative;
}

.filters-plus:after{
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--accent);
	position: absolute;
	top: calc(50% - 1px)
}

.filters-plus:before{
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--accent);
	position: absolute;
	top: calc(50% - 1px);
	transform: rotate(90deg);
}
.filters-dropdown {
	padding: 20px 0px;
	padding-left: 20px;
	display: none;
	height: 200px;
	overflow-y: auto;
}
.filters-dropdown::-webkit-scrollbar {
  width: 5px;               /* ширина всей полосы прокрутки */
}

.filters-dropdown::-webkit-scrollbar-track {
  background: #eee;        /* цвет зоны отслеживания */
}

.filters-dropdown::-webkit-scrollbar-thumb {
  background-color: var(--accent);    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
}

.filters-dropdown-item-wrap {
	margin-bottom: 15px;
	line-height: 1;
}

.filters-wrap-checkbox, .filters-wrap-radio{
	position: relative;
	padding-left: 24px;
}
.filters-dropdown__link {
	font-size: 13px;
	text-decoration: none;
	color: var(--text);
	
}
.input-hide {
	display: none;
}


.custom-checkbox {
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 2px;
	border: 1px solid var(--accent);
	margin-right: 8px;
	position: absolute;
	left: 0px;
	top: -1px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
	background-image: url('../images/checkbox.svg');
}


.custom-checkbox-label {
	cursor: pointer;
	width: calc(100% - 20px);

}
.custom-radio {
	cursor: pointer;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid var(--accent);
	position: absolute;
	left: 0px;
	top: -1px;
	background-image: url('../images/checkbox.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
}
.custom-radio-label {
	cursor: pointer;
}

.check-hide:checked + .custom-checkbox{
	background-color: var(--accent);
}

.radio-hide:checked + .custom-radio{
	background-color: var(--accent);
}

.filters-sidebar__close{
	position: absolute;
	top: 23px;
  right: 15px;
	display: none;
}
.filters-sidebar__head{
	display: none;
	font-size: 26px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.filters-sidebar__down{
	display: none;
	justify-content: space-between;
}



.filters-sidebar-btn{
	width: calc(50% - 8px);

}

.catalog-active-filters{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 26px;
}

.catalog-active-filters__item {
	padding: 6px 29px 6px 10px;
	background: #F4F0EB;
	border-radius: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
}

.catalog-active-filters__item-close{
	position: absolute;
	right: 12px;
	top: 6px;
	cursor: pointer;
}

.catalog-active-filters__clean{
	padding-bottom: 0;
	margin-bottom: 10px;
}
.catalog{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.catalog__item {
	text-decoration: none;
	color: var(--text);
	width: calc(100% / 3 - 60px / 3);
	margin-right: 30px;
	margin-bottom: 30px;
	position: relative;
}
.catalog__item:nth-child(3n + 3){
	margin-right: 0;
}

.catalog__item:hover{
	color: inherit
}
.catalog__item-img {
	display: flex;
	justify-content: center;
}
.catalog__item-img img{
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.catalog__item-cat {
	font-weight: 300;
	font-size: 12px;
	margin-bottom: 2px;
}
.catalog__item-name {
	font-weight: 400;
	font-size: 14px;
}
.catalog__item-price-wrap {
	display: flex;
	align-items: center;
	margin-bottom: 6px;
}


.price-old {
	font-size: 18px;
	text-decoration-line: line-through;
	color: #CCCCCC;
	margin-right: 20px;
}
.price {
	font-size: 18px;
}
.catalog__item-rewievs {
	display: flex;
	align-items: center;
}
.catalog__item-stars {

}
.catalog__item-rewievs-count{
	font-weight: 400;
}

.filters-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.filters-top__left{

}

.filters-top__right{
	display: flex;
	align-items: center;
	width: calc(100% - 330px);
	justify-content: space-between;
}
.filters-top_pag-item{
	text-decoration: none;
	color: var(--text);
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
}
.filters-top_pag-item--active{
	text-decoration: underline;
}
.filters-top_pag-left{
	padding-left: 0px;
}
.filters-top_item-mob{
	display: none;
}
.filters-top_pag-right{
	padding-right: 0px;
}
.filters-top_pag-item:hover{
	color: var(--accent);
	
}
.filters-top__select{
	margin-left: 10px;
}

.filters-top__btn--long{
	width: 300px;
}

.select{
	cursor: pointer;
	width: 270px;
	height: 40px;
	border-radius: 20px;
	border: 1px solid var(--accent) !important;
	padding: 0px 10px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	appearance: none;
	background-image: url('../images/select.svg');
	background-repeat: no-repeat;
	background-position: top 12px right 10px;
	font-weight: 300;
}

.select:focus-visible{
	border: 1px solid var(--accent) !important;
}


.catalog__banner{
	padding: 44px 0px;
	background-color: #030305;
	color: #fff;
	margin-bottom: 20px;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

.catalog__banner-head{
	font-size: 24px;
	font-weight: 300;
}

.catalog__banner-text{
	font-weight: 300;
	line-height: 1.6;
}

.inner-page--banner{
	padding-top: 0;
}
.catalog__banner-content{
	max-width: 640px;
	width: 50%;
}
.catalog__banner-image{
	height: 100%;
	width: 40%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	right: 0px;
	top: 0px;
}


/* shops */

.shops__tabs{
	margin-bottom: 15px;
}
.shops__tabs-item{
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}

.shops-content{
	display: flex;
	margin-bottom: 42px;

}

.shops__left{
	width: 42%;
	height: 620px;
	overflow-y: auto;
	padding-right: 10px;
	
}

.shops__left::-webkit-scrollbar {
  width: 5px;               /* ширина всей полосы прокрутки */
}

.shops__left::-webkit-scrollbar-track {
  background: #eee;        /* цвет зоны отслеживания */
}

.shops__left::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
}

.shops__item{
	display: flex;
	padding: 15px 15px 15px 46px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid transparent;
}

.shops__item-head{
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
}

.shops__item--active{
	border: 1px solid var(--accent);
}

.shops__item-content{
	padding-right: 15px;
	position: relative;
	
}

.shops__item-text{
	line-height: 1.5;
}


.shops__item-content-place-icon{
	position: absolute;
	left: -30px;
	top: -1px;
}


.shops__item-content-place-icon--active{
	display: none;
}

.shops__item--active .shops__item-content-place-icon{
	display: none;
}

.shops__item--active .shops__item-content-place-icon--active{
	display: block;
}


.shops__map{
	width: 58%;
	padding-left: 30px;
}

.shops__nav-mob{
	margin-bottom: 20px;
	display: none;
	align-items: center;
	justify-content: space-between;
}

.shops__nav-mob-buttons{
	display: flex;
	align-items: center;
}

.consult{
	display: flex;
	align-items: center;
}

.consult__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.consult__content .btn{
	width: 165px;
}

.consult__content-head{
	font-family: 'Vollkorn';
	font-size: 24px;
	color: #9C3B3B;
	margin-bottom: 10px;
}

.consult__content-text{
	margin-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

/* checkout */

.inner-page.checkout{
	padding-top: 40px;
} 
.checkout__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 50px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 60px;
}
.checkout__steps {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 250px);
	padding-right: 5%;
	padding-top: 23px;
}
.checkout__steps-item-wrap{
	width: 25%;
	position: relative;
	z-index: 1;
}

.checkout__steps-item-wrap::after{
	content: '';
	display: block;
	width: 133%;
	height: 2px;
	background-color: #CCCCCC;
	position: absolute;
	top: calc(45px / 2 - 1px);
	left: 34px;
	z-index: 0;
}

.checkout__steps-item-wrap:last-child::after{
	display: none;
}

.checkout__steps-item-wrap:last-child{
	width: auto;
}

.checkout__steps-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100px;
	position: relative;
	z-index: 1;
}




.checkout__steps-around {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 1px solid #9FA57D;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-weight: 300;
}

.checkout__steps-item--active .checkout__steps-around {
	background-color: #9FA57D;
	background-image: url('../images/check.svg');
	background-position: center;
	background-repeat: no-repeat;
	font-size: 0px;
}

.checkout__steps-item--active::after{
	background-color: #9FA57D;
}


.checkout__container {
	display: flex;
}
.checkout__left {
	width: 60%;
	padding-right: 30px;
}
.checkout__item-content {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding-bottom: 25px;
}
.checkout__item-head {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
	padding: 15px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 15px;
}

.checkout__item-cities {
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 5px;
}
.checkout__item-city {
	padding: 6px 10px;
	background-color: #F4F0EB;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	border-radius: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.checkout__input-row {
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
.checkout__input-row-label {
	position: relative;
	top: 9px;
}
.red {
	color: #CC0000;
	margin-right: 5px;
}
.checkout__input {
	width: 70%;
}

.checkout__textarea {
	width: 70%;
	height: 68px;
}
.checkout__delevery {
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
}
.checkout__delevery-item {
	position: relative;
	padding-left: 24px;
	width: 50%;
	padding-right: 10px;
	cursor: pointer;
}

.checkout__radio-text{
	cursor: pointer;
}

.checkout__radio-head{
	margin-bottom: 5px;
}

.checkout__right{
	width: 40%;
}



.checkout__right .checkout__item-content {
	padding-bottom: 15px;
}
.checkout__item-head {
}
.checkout__right-item {
	display: flex;
	margin-bottom: 15px;
}
.checkout__right-item-img img{
	max-width: 90px;
	height: auto;
}
.checkout__right-item-text {
	margin-left: 10px;
	font-weight: 300;
}
.checkout__right-item-head {
	font-weight: 400;
	margin-bottom: 3px;
}
.checkout__right-item-price {
	font-weight: 500;
	margin-bottom: 3px;
}


.checkout__right-price {
	padding-left: 15px;
	padding-right: 15px;
	border-top: 1px solid #ccc;
	padding-top: 15px;
}
.checkout__right-price-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.checkout__right-price-row:last-child{
	margin-bottom: 0;
}

.text-green{
	color: #9FA57D;
}
.text-bold{
	font-weight: 600;
}

.checkout-btn-wrap{
	margin-top: 15px;
}
.checkout-btn-wrap-mob{
	display: none;
}

.checkout-btn-wrap .btn{
	width: 100%;
}
/* good */

.good__slider-wrap{
	width: 50%;
}

.good__slider{
	width: 100%;
}

.good__slider-nav{
	width: 100%;
}

.good__slider-nav .slick-list{
	overflow: hidden;
}

.good__slider-item img{
	width: 100%;
	height: auto;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
}

.good__slider-nav-item img{
	width: 100%;
	height: 88px;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
}

.good {
	display: flex;
	margin-bottom: 30px;
}


.good__content {
	padding-left: 30px;
	width: 50%;
}
.good__head {
	font-weight: 400;
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.good__head--mob, .good__descrip--mob{
	display: none;
}


.good__descrip {
	font-size: 14px;
	text-transform: uppercase;
}
.good__price-line {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.good__price-left {
	display: flex;
	align-items: center;
}
.good__price {
	letter-spacing: 0.05em;
	font-size: 20px;
	margin-right: 20px;
}
.good__old-price {
	color: #CCCCCC;
	letter-spacing: 0.05em;
	font-size: 20px;
	text-decoration-line: line-through;
}
.good__price-stock {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #9FA57D;
	flex-grow: 1;
	text-align: center;
}
.good__rewiews-line {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.good__rewiews-stars {
	margin-right: 10px;
}

.good__rewiews-line .item-link {
	padding-bottom: 0px;
}
.good__rewiews-stars-count {
	margin-right: 10px;
}

.good__delivery {
	background-color: #F4F0EB;
	border-radius: 50px;
	display: flex;
	align-items: center;
	padding: 10px;
	max-width: 295px;
	margin-bottom: 30px;
}
.good__delivery-img{
	width: 16px;
	margin-right: 10px;
}
.good__delivery-text {
	font-size: 12px;
}
.good__capacity {
	
}
.good__capacity-head {
	margin-bottom: 10px;
	font-weight: 400;
}
.good__capacity-container {
	margin-bottom: 10px;
}
.good__switch {
	display: flex;
	align-items: center;
	

}
.good__switch-item {
	border-radius: 30px;
	display: inline-block;
	padding: 10px;
	border: 2px solid #9E9E9E;
	color: #9E9E9E;
	cursor: pointer;
	margin-right: 10px;
	margin-bottom: 10px;
}
.good__button-line {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}



.good__button-line .btn{
	margin-right: 40px;
	width: 50%;
}
.btn-green {
	background-color: #9FA57D;
	border-color: transparent;
}

.btn-green:hover{
	border-color: #9FA57D;
}
.btn-cart span{
	position: relative;
	padding-left: 20px;
}

.btn-cart span:before {
	content: '';
	display: block;
	width: 19px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../images/shop.png');
	margin-right: 10px;
	position: absolute;
	top: -5px;
  left: -11px;
	opacity: 0;
	transition: .3s;
}
.btn-cart span:after {
	content: '';
	display: block;
	width: 19px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../images/shopwhite.png');
	margin-right: 10px;
	position: absolute;
	top: -5px;
  left: -11px;
	transition: .3s;
}

.btn-cart:hover span::after{
	opacity: 0;
}
.btn-cart:hover span::before{
	opacity: 1;
}
.good__bonus {
	display: flex;
	align-items: center;
}
.good__bonus-img {
	display: flex;
	align-items: center;
}
.good__bonus-text {
	margin-left: 15px;
	margin-right: 15px;
}
.good__bonus-info-wrap {
}
.good__bonus-info-ic {
}
.good__like {
	margin-bottom: 20px;
}
.good__stock {
	margin-bottom: 30px;
}
.good__stock .select{
	width: 100%;
}
.select {
}
.good__tabs {
}
.good__tabs-item:first-child .good__tabs-head{
	border-top: 1px solid #CCCCCC	
}

.good__tabs-item--active .good__tabs-head{
	border-bottom-color: transparent !important;
}
.good__tabs-item--active .good__tabs-dropdown{
	display: block;
}

.good__tabs-item--active .filters-plus:before{
	display: none;
}


.good__tabs-item:last-child .good__tabs-head{
	border-bottom: 1px solid #CCCCCC
}
.good__tabs-head {
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}
.good__tabs-dropdown {
	display: none;

}
.good__tabs-text {
}

.rewiews-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background: #F4F0EB;
	margin-bottom: 20px;
}
.rewiews-haed {
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 300;
}

.rewiews-top-btn{
	width: 379px;
}

.rait{
	display: flex;
	margin-bottom: 40px;
}
.rait-left {
	width: 50%;
	padding-right: 25px;
}
.rait-head {
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 10px;
}
.rait-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
	position: relative;
}
.rait-row-left {
	display: flex;
	align-items: center;
	line-height: 1;
	width: 10%;

}
.rait-row-num {
	margin-right: 5px;
}
.rait-row-star {
	position: relative;
	top: -2px
}
.rait-row-line {
	height: 16px;
	background-color: #ccc;
	width: 80%;
	position: relative;
}

.rait-row-line--accent{
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #D8B279;
}
.rait-row-right {
	width: 10%;
	text-align: right;
}
.rait-right {
	width: 50%;
	padding-left: 25px;
}
.rait-right__line {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.rait-right__stars {
}


.rewiews__sort{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #F4F0EB;
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
}

.rewiews__sort-right .select{
	margin-left: 10px;
}


.rewiews__item{
	display: flex;
	margin-bottom: 30px;
}
.rewiews__item-date{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.rewiews__item-date-star{
	margin-right: 10px;
}

.rewiews__item-left{
	width: 22%;
}

.rewiews__item-right{
	padding-left: 30px;
	width: 78%;
	padding-left: 30px;
}




.rewiews__item-head {
	text-transform: uppercase;
	margin-bottom: 10px;
}
.rewiews__item-text {
	margin-bottom: 10px;
}
.rewiews__item-rec {
	margin-bottom: 10px;

}
.rewiews__item-rec-text {
	margin-right: 10px;
}
.rewiews__item-ok {
	display: flex;
	align-items: center;
	
}
.rewiews__item-ok-text {
	margin-right: 10px;

}
.rewiews__item-ok-button {
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	border: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
	transition: .3s;
}

.rewiews__item-ok-button:hover{
	background-color: var(--accent);
	color: #fff;
	border-color: transparent
}



.rewiews__sort-buttons {
	display: flex;

}
.rewiews__sort-buttons-item {
	display: flex;
	align-items: center;
	height: 40px;
	font-size: 12px;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fff;
	text-decoration: none;
	color: var(--text);
	border: 1px solid rgba(30, 30, 30, 0.8);
	width: 270px;
	transition: .3s;
}

.rewiews__sort-buttons-item:hover{
	opacity: 1;
	color: inherit
}
.rewiews__sort-buttons-item-next{
	border-radius: 0px 20px 20px 0px;
	
}
.rewiews__sort-buttons-item-prev{
	opacity: .3;
	border-radius: 20px 0px 0px 20px;
}



.goods-line {
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.section-head {
}
.goods-line__slider {
}
.goods-line__slider-item {
	color: var(--text);
	text-decoration: none;
	position: relative;
	margin-right: 30px;
}

.goods-line__slider-item:hover{
	color: inherit;
}
.goods-line__slider-item-img img{
	width: 100%;
	height: 300px;
	max-width: 194px;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
}
.goods-line__slider-item-cat {
}
.goods-line__slider-item-name {
}
.goods-line__slider-item-price {
	display: flex;
}
.good__price {
}
.good__old-price {
}
.goods-line__slider-item-star {
}

.inner-page-good{
	padding-top: 20px;
}


/* basket */
.basket {
	margin-bottom: 30px;
}
.basket__left {
	width: 69%;
	padding-right: 30px;
}
.basket__item {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #AEAEAE;
}
.basket__item-img {
	width: 100px;
	height: 100px;
}
.basket__item-content{
	display: flex;
	justify-content: space-between;
	width: calc(100% - 130px);
	margin-left: 30px;
}
.basket__item-img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.basket__item-text-wrap {
	width: 36%;
}
.basket__item-text {
	
}


.basket__item-number {
	display: flex;
	height: 36px;
}
.basket__item-number-btn {
	width: 39px;
	background: rgba(30, 30, 30, 0.8);
	border: none;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
}
.number-plus{
	border-radius: 0px 10px 10px 0px;
}
.number-minus{
	border-radius: 10px 0px 0px 10px;
	background-color: #CCCCCC;
	color: var(--text)
}

.number-minus {
}
.basket__item-number-input {
	border: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 68px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}


.basket__item-number-input::-webkit-outer-spin-button,
.basket__item-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.basket__item-number-input[type=number] {
  -moz-appearance: textfield;
}
.number-plus {
}
.basket__item-price {
	font-size: 16px;
	font-weight: 500;
}
.basket__item-del {
	cursor: pointer;
}

.basket{
	display: flex;
}

.basket__right{
	width: 32%;
}

.basket__right-promo{
	margin-bottom: 10px;
}
.basket__right-promo-row{
	display: flex;

}
.basket__right-promo-input{
	width: calc(100% - 121px);
	border-radius: 50px 0px 0px 50px;
}

.basket__right-promo-btn{
	width: 121px;
	border-radius: 0px 50px 50px 0px;
	border: none;
	background-color: var(--accent);
	color: #fff;
	font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.basket__right .good__delivery{
	width: 100%;
	max-width: none;
	height: 40px;
}

.basket__right .good__delivery-img{
	width: 25px;
}

.basket__right-price-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}


.basket__right-banner{
	padding: 15px;
	border-radius: 30px;
	background-color: #F4F0EB;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;
}

.basket__right-banner-img {
	margin-left: auto;
	margin-right: auto;
	width: 50px;
	height: 50px;
	margin-bottom: 15px;
}
.basket__right-banner-head {
	font-weight: 500;
	font-size: 21px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.basket__right-banner-text {
}

.pay-system {
	margin-bottom: 41px;
}
.pay-system__head {
	padding: 13px 19px;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 30px 30px 0px 0px;
	background-color: var(--accent);
	color: #fff;
	font-weight: 300;
}
.pay-system_content{
	padding: 10px 15px 18px 15px;
	border: 1px solid #ccc;
	border-top: none;
	border-radius: 0px 0px 30px 30px;
}

.pay-system__image{
	margin-bottom: 10px;
}
.pay-system__image img{
	width: 100%;
	height: auto;
	max-width: 300px;
}
.pay-system__trigger {
	display: flex;
	margin-bottom: 10px;
}
.pay-system__trigger-img {
	position: relative;
	top: -2px;
	margin-right: 10px;
}
.pay-system__trigger-text {

}

.basket__right .btn-cart{
	width: 100%;
}

.gifts{
	padding-top: 20px;
	padding-bottom: 20px;
}

.gifts-head{
	margin-bottom: 5px;
	font-size: 18px;
	text-transform: uppercase;
}

.gifts-container{
	display: flex;
}
.gifts__item {
	text-align: center;
	width: calc(25% - 30px * 3 / 4);
	margin-right: 30px;
}
.gifts__item:last-child{
	margin-right: 0;
}
.gifts__item-img img{
	width: 100%;
	height: auto;
}
.gifts__item-cat{
	margin-bottom: 5px;
}
.gifts__item-text {
}

.gifts__item .btn{
	width: 100%;
	margin-top: 10px;
}
.basket-goods-line{
	border-bottom: none;
}

/* mobmenu */


.mask{
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;
	position: fixed;
	z-index: 1;
	background-color: rgba(0,0,0,.7);
	transition: opacity .3s;
	opacity: 0;
	pointer-events: none;
}
.mask--active{
	opacity: 1;
	pointer-events: auto;
}

.mob-menu-close{
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: absolute;
	right: -30px;
	top: 13px;
	z-index: 2;
}

.mobile-menu-wrap {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 300px;
	background-color: #fff;
	transition: .3s;
	transform: translateX(-400px);
	
}
.mobile-menu__container{
	height: 100vh;
	overflow-y: auto;
}
.mobile-menu-wrap--active{
	transform: translateX(0px);
}
.mobile-menu__person{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	padding: 12px 15px;
	background: rgba(30, 30, 30, 0.8);
}
.mobile-menu__person:hover{
	color: #fff;
}
.mobile-menu__person-icon{
	margin-right: 11px;
}
.mobile-menu__item > .mobile-menu__link{
	padding: 12px 15px;
	font-weight: 600;
	font-size: 16px;
	display: block;
	border-bottom: 1px solid #eee;
}

.mobile-menu__drop .mobile-menu__link{
	font-size: 14px;
	font-weight: 300;
	display: block;


}


.mobile-menu__item-parent > .mobile-menu__item .mobile-menu__link{
	position: relative;
	padding-right: 40px;
}
.mobile-menu__item-parent > .mobile-menu__item .mobile-menu__link:after{
	content: '';
	display: block;
	width: 8px;
	height: 15px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/menuarrow.svg');
	position: absolute;
	top: calc(50% - 9px);
	right: 15px;
	transition: .3s;
}

.mobile-menu__item-parent--active > .mobile-menu__item .mobile-menu__link:after{
	transform: rotate(90deg);
}
.mobile-menu__link {
	text-decoration: none;
	color: var(--text);
}
.mobile-menu__link:hover{
	color: inherit;
}

.mobile-menu__drop {
	display: none;
}

.goods__rating-value{
	display: none;
}
.goods__rating{
	width: 200px; 
}
.goods__rating-body{
	position: relative;
	background-color: #fff;

}
.goods__rating-active{
	position: absolute;
	width: 0%;
	height: 40px;
	top: 0;
	left: 0;
	overflow: hidden;
	background-image: url('../images/star.svg');
	background-size: 40px;
	background-repeat: repeat-x;
	z-index: 1;
	pointer-events: none;

}
.goods__rating-items{
 display: flex;
}
.goods__rating-item{
	width: 40px;
	height: 40px;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.goods__rating-image{
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	background-image: url('../images/stargray.svg');
	background-repeat: no-repeat;
	background-size: contain;  
	position: relative;       
}

.newpost-modal-rait-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
}

.newpost-modal__radio .custom-radio{
	position: static;
}

.modal{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	background-color: rgba(0,0,0, .5);
}

.modal__content {
	background-color: #F9F9F9;
	padding: 10px 15px 40px 15px;
	width: 50%;
	height: 90vh;
	overflow-y: auto;
}

.modal__content::-webkit-scrollbar {
  width: 5px;               /* ширина всей полосы прокрутки */
}

.modal__content::-webkit-scrollbar-track {
  background: #eee;        /* цвет зоны отслеживания */
}

.modal__content::-webkit-scrollbar-thumb {
  background-color: var(--accent);    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
}
.newpost-modal{
	width: 800px;
}
.newpost-modal-head {
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;	
	padding-bottom: 15px;
	padding-top: 5px;
	border-bottom: 1px solid #ccc;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: -15px;
	margin-right: -15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.newpost-modal-rait-row {
}
.newpost-modal-label {
	
}
.newpost-modal__input-wrap, .newpost-modal__radio-wrap {
	margin-bottom: 20px;
}

.newpost-modal__radio-wrap{
	display: flex;
	align-items: center;
}
.newpost-modal__label{
	margin-right: 50px;
}

.newpost-modal__label {
	display: block;
}
.newpost-modal__input-wrap .newpost-modal__label {
	width: 100%;
	display: block;
	margin-bottom: 10px;
}
.newpost-modal__input-wrap .input {
	width: 100%;
}
.newpost-modal__input-wrap .textarea {
	width: 100%;
	height: 74px;
}

.newpost-modal__input-wrap .select{
	width: 100%;
	height: 34px;
	background-position: top 8px right 10px;
}
.modal-btn{
	margin-top: 30px;
}

.modal{
	opacity: 0;
	pointer-events: none;
	transition: opacity .3s;

}

.modal--active{
	opacity: 1;
	pointer-events: auto;
}


.gallery {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #EFEFEF;
}
.container {
}
.gallery-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.gallery-images__item {
	max-width: calc(100% / 6 - 5px);
	height: auto;
	margin-bottom: 5px;
}

.gallery-images__item img{
	width: 100%;
	height: auto;
}

.gallery__social {
	display: flex;
	flex-wrap: wrap;

}
.gallery__social-item {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.gallery__social-item-name {
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}