/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {
	
	.banners__item-big-v2{
		display: block;
		background-position: bottom -20px right 20px;
	}


	.news__right{
		padding-left: 40px;
	}

	.news__left{
		width: 70%;
	}

	.news__left-container img{
		width: 100%;
	}

	.news__left	.news-big{
		width: 70%;
	}

	.about-us__right{
		padding: 62px 70px
	}
}


@media (max-width: 1300px){
	.university__item-v3 .university__item-content__bottom{
		display: block;
	}
	.university__item-v3 .university__item-content__stat{
		margin-bottom: 20px;
		padding-right: 0;
	}

	.university__item-v3 .university__item-image{
		display: none;
	}

	.university__item-v3 .university__item__img-mob{
		display: block;
		width: 48px;
    height: 48px;
    margin-right: 16px;
	}

	.university__item-v3 .university__item-content__head{
		display: flex;
		align-items: center;

	}
}

@media (max-width: 1260px){
	.header__logo{
		width: 83px;
    height: 40px;
    background-size: contain;
	}
	.header-top__menu{
		display: none;
	}

	.header-bottom__nav{
		display: none;
	}
	.burger{
		display: block;
		margin-right: 48px;
	}

	.main-screen__search-wrap{
		width: 100%;
		max-width: 100%;
	}


	.page-content__main .ways__item-container .ways__item-wrap{
		width: calc(100% / 2 - var(--bs-gutter-x) / 2);
	}

	.page-content__main .ways__item-container .ways__item-wrap:nth-child(3n + 3){
		margin-right: var(--bs-gutter-x);
	}

	.page-content__main .ways__item-container .ways__item-wrap:nth-child(2n + 2){
		margin-right: 0;
	}



}
/* lg <= Extra large (xl) */
@media (max-width : 1199px) {

	.modal-serch-wrap__input input{
		width: calc(100vw - 290px);
	}
	.univer-rait__item{
		padding-right: 0px;
	}
	.progress__item:nth-child(3n + 3){
		margin-right: 2.5rem;
	}
	.progress__item:nth-child(2n + 2){
		margin-right: 0rem;
	}

	.progress__item{
		width: calc(50% - 2.5rem / 2);
	}

	.page__screen{
		background-image: none !important;
	}
	.prof-bg{
		display: none;
	}
	.triggers__item--white, .images__wrap{
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}



	.section-tabs__item-around:after{
		margin-top: 0px;
	}
	.contact__item{
		width: calc(50% - 20px);
		margin-right: 20px;
		margin-bottom: 30px;
	}
	.university__item-v2 .university__item-content{
		flex-wrap: wrap;

	}
	.university__item-v2 .university__item-content__left{
		width: 100%;
	}

	.university__item-v2 .university__item-content__right{
		width: 100%;
	}

	.university__item-v2 .university__item-content__right .btn-opacity{
		margin-bottom: 0;
	}

	.university__item-v2 .university__item-content__right{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.university__item-v2 .university__item-content__stat{
		margin-bottom: 20px;
		padding-right: 0;
	}
	.page__screen__trig{

	}
	.page__screen__trig-item{
		padding-right: 20px;
	}



	.footer__bottom{
		margin-top: 20px;
	}
	.main-form-wrap{
		margin-bottom: 40px;
	}
	.footer-logo-wrap{
		margin-bottom: 40px;
	}
	.map.section{
		padding-bottom: 0;
	}
	.opendays.section{
		padding-bottom: 0px;
	}
	.banners{
		padding-top: 40px;
	}
	.section{
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.section-tabs__item{
		margin-right: 20px;
	}
	.triggers{
		margin-top: 40px;
		margin-bottom: 0px;
	}
	.section-head{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.section-tabs{
		font-size: 16px;
	}

	.section-tabs{
		margin-bottom: 30px;
	}
	.university__item-content__stat-item{
		margin-right: 30px;
	}
	.rait__item__col{
		margin-right: 20px;
	}

	.banners__item-big{
		margin-bottom: 20px;
	}

	.banners__right .banners__item{
		margin-bottom: 20px;
	}

	.banners__item-big{
		padding-left: 41px;
    padding-top: 40px;
    padding-bottom: 36px;
	}

	.banners__item-big .banners__item__anot{
		margin-bottom: 15px;
	}
	.banners__item-big .banners__item__text{
		margin-bottom: 26px;
		font-size: 14px;
	}

	.banners__item-big .banners__item__head{
		font-size: 24px;
	}

	.banners__item-big{
		background-size: contain;
	}

	.banners__item__head br{
		display: none;
	}
	.triggers__item{
		margin-bottom: 2.5rem;
	}

	.main-form{
		background-image: none;
	}

	.main-form .input-row .input{
		width: 50%;
	}

	.main-form .textarea{
		width: 100%;
	}
	.from__content-bottom{
		width: 100%;
	}

	.main-form .section-head, .reviews__form .section-head{
		text-align: center;
	}	
	.main-form{
		padding: 40px;
	}

	.banners__item-big-v2 .banners__item__head{
		font-size: 35px;
		width: 60%;
	}
}

/* md <= Large (lg) */
@media (max-width : 992px) {

	.page-content__filter--mob-hidden{
		display: none;
	}
	.mobile-filters-btn{
		width: 100%;
		display: flex;
		margin-bottom: 20px;
	}

	.mobile-filters-btn:before{
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url('../images/filter.svg');
		margin-right: 10px;
	}
	.prof-content .text{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.university__item-rating .university__item-image{
		display: none;
	}
	.university__item-rating_num-mob{
		display: flex;
	}
	.ask__block{
		margin-bottom: 40px;
	}
	.university__item-v3 .university__item-content__bottom{
		display: flex;
	}
	.page-content__filter .banners__item--red{
		display: none;
	}

	.page-content__filter{
		width: 100%;
		order: 0;
	}

	.page-content__main{
		order: 1;
	}
	.page-content__main{
		width: 100%;
	}
	.page__screen__trig-item{
		margin-right: 0;
		width: calc(50% - 10px);
	}
	.rait__item-wrap:last-child .rait__item{
		border-bottom: 1px solid #C4C6CA;
	}
	.news.section{
		padding-bottom: 0px;
	}

	.university__item-content__head{
		padding-right: 0px;
	}
	.university__item-content__elected-wrap{
		top: auto;
		left: 24px;
		bottom: 37px;
	}
	.university__item-content__bottom{
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	.university__item-content__stat{
		width: 100%;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	.university__item-content__head{
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}
	.university__item__img-mob{
		display: block;
		width: 48px;
		height: 48px;

		margin-right: 16px;
	}
	.university__item-image{
		display: none;
	}
	.news__container-flex{
		flex-wrap: wrap;
	}
	.news__left{
		width: 100%;
	}

	.news__right{
		padding-left: 0;
		width: 100%;
	}

	.news__right-item-container{
		display: flex;
		flex-wrap: wrap;
	}
	.news__right-item-container .news__item--no-img{
		width: calc(50% - 10px);
		margin-right: 10px;
	}
	.about-us__left{
		display: none;
	}

	.about-us__right{
		width: 100%;
	}

	.about-us__right{
		padding-left: 10px
	}
}

/* sm <= Medium (md) */
@media (max-width : 768px) {

	body{
		padding-top: 88px;
	}

	header .header-bottom{
		top: 0px;
		position: fixed;
		background-color: #fff;
    width: 100vw;
    z-index: 99;
	}
	.modal-serch .modal-serch-wrap__input:before{
		top: 13px
	}

	.modal-serch .modal-serch-wrap__input input{
		border-radius: 4px 4px 0 0;
	}
	.modal-serch-wrap__input input{
		width: calc(100vw - 20px)
	}
	.modal-serch .main-screen__btn{
		width: calc(100vw - 20px)
	}
	.modal-serch-wrap__input{
		display: block;
	}
	.inner-page__news .news__item--no-img{
		width: calc(50% - 20px);
	}
	.ways-preparation-text__bottom .ways-preparation-text{
		display: block;
	}

	.ways-preparation-head{
		margin-bottom: 10px;
	}
	.ways-preparation__item:after{
		display: none;
	}
	.ways-preparation__item__left-img{
		margin-bottom: 10px;

	}

	.ways-preparation__item__left{
		display: block;
		margin-bottom: 10px;
	}
	.ways-preparation__item{
		display: block;
	}
	.lk .input-row{
		width: 100%;
		flex-wrap: wrap;
	}
	.lk__inputs-wrap .input-row .input-wrap{
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.lk-select-wrap{
		width: 100%;
	}
	.lk-tabs .btn{
		width: 100%;
	}
	.lk .input{
		width: 100%;
	}
	.university__item-content__remove{
		font-size: 0px;
	}

	.university__item-content__remove::before{
		margin-right: 0;
		margin-left: 10px;
	}
	.elected__tabs-wrap .btn-close{
		margin-left: 0;
		width: 100%;
		margin-top: 10px;
	}
	.elected__tabs-wrap{
		margin-bottom: 10px;
	}
	.ask-item__text-left, .ask-item__text-right{
		width: 100%;
	}
	.page-content__main__filters__count{
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
	}
	.page-content__main__filters-right{
		width: 100%;
	}

	.page-content__main__filters-right .page-content__main__filters__select{
		width: calc(100% - 216px);
	}
	.page__screen .main-screen__input{
		width: 100%;
	}
	.page__screen__head-wrap{
		margin-left: 0;
		margin-bottom: 20px;
	}

	
	.page__screen__img{
		display: none;
	}
	.header__menu{
		display: none;
	}
	.header-top{
		display: none;
	}
	.main-screen{
		padding-bottom: 72px;
	}
	.main-screen__search-wrap{
		flex-wrap: wrap;
		height: auto;
	}

	.main-screen__input{
		height: 56px;
		width: 73%;
	}



	.main-screen__head{
		padding-top: 72px;
		margin-bottom: 40px;
	}
	.main-screen__btn{
		width: 100%;
		border-radius: 0px 0px 4px 4px;
		height: 56px;
	}

	.main-screen__head{
		font-size: 40px;
		line-height: 40px;
	}

	.banners__item-big{
		background-position: bottom 0px right -60px;
	}

	.banners__item--red{
		background-position: bottom 0px right 1px;
	}

	.from__content-bottom{
		flex-wrap: wrap;
		flex-direction: column-reverse;

	}

	.main-form .btn{
		width: 100%;
	}

	.from__content__pers{
		width: 100%;
		text-align: center;
		margin-top: 40px;
	}

	.university__item-content__stat{
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: 25px;
	}
	.university__item-content__stat-item{
		margin-bottom: 5px;
	}

	.banners__item-big-v2{
		background-position: bottom -20px right 20px;
	}
}

/* xs <= Small (sm) */
@media (max-width : 576px) {

	.header-bottom__login__link{
		margin-left: 0;
	}
	.modal__bottom{
		display: block;
	}
	.modal__bottom .modal__bottom-left{
		width: 100%;
		text-align: center;
	}	

	.modal__bottom .btn{
		width: 100%;
		margin-top: 25px;
	}

	.modal .input-row .input-wrap{
		width: 100%;
		margin-right: 0;
	}
	.modal .input-row	{
		display: block;
	}
	.modal{
		width: 100vw;
		max-width: 100vw;
	}
	.mob-menu-wrap{
		width: 100vw;
		transform: translateX(-100vw);
	}		
	.mob-menu-wrap--active{
		transform: translateX(0px);
	}
	.inner-page__news .news__item--no-img{
		width: 100%;
	}
	.univer-rait__item{
		display: block;
	}
	.univer-rait__item-left{
		margin-bottom: 20px;
	}
	.univer-rait__item-name{
		max-width: calc(100% - 100px);
	}
	.progress__item{
		margin-right: 0 !important;
		width: 100% !important;
	}
	.progress__item:nth-child(2n + 2){
		margin-right: 0rem;
	}

	.progress__item{
		width: calc(50% - 2.5rem / 2);
	}

	.section-head-between{
		display: block;
	}
	.main-screen__triggers__left .main-screen__triggers{
		justify-content: center;
		margin-top: 40px;
	}
	.prof-content img{
		width: 60%;
	}
	.prof-content:nth-child(1), .prof-content:nth-child(3){
		flex-direction: column-reverse;
	}
	.big-btn{
		width: 100%;
	}
	.page__screen--prof .btn{
		margin-left: auto;
		margin-right: auto;
	}
	.lk__wrap-btn{
		flex-wrap: wrap;

	}
	.lk__wrap-btn .btn{
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0px;
	}

	.lk__wrap-btn .btn:last-child{
		margin-bottom: 0px;
	}
	.lk-small-image{
		display: none;
	}
	.btn-job{
		width: 100%;
	}
	.ask-head{
		font-size: 16px;
		padding: 24px 66px 24px 24px;
	}

	.ask-item__text{
		padding-left: 24px;
	}
	.left__img{
		margin-bottom: 1.5rem;
	}
	.right__img img{
		width: calc(50% - 1.5rem / 2);
		margin-right: 1.5rem;
	}

	.right__img img:last-child{
		margin-right: 0;
	}
	.right__img{
		flex-direction: row;
	}
	.contact__item{
		width: 100%;
		margin-right: 0;
	}
	.page-content__main__filters-right .page-content__main__filters__select{
		width: 100%;
		margin-bottom: 16px;
	}

	.page-content__main__filters-right{
		flex-wrap: wrap;
	}

	.place-btn{
		width: 100%;
		margin-left: 0;
	}
	.university__item-v3 .university__item-content__stat{
		margin-bottom: 70px;
	}
	.pagination__item{
		width: 30px;
		height: 30px;
		font-size: 14px;
		font-weight: 500;
		margin-right: 10px;
	}

	.pagination__item-text{
		font-size: 0px;
		width: 30px;
		height: 30px;
		padding: 0;
	}

	.pagination__item-text::after{
		content: '>>';
		font-size: 14px;
	}


	.page-content__main__filters{
		flex-wrap: wrap;
		
	}
	.page-content__main__filters__select{
		width: 100%;
	}
	.page-content__main__filters__count{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.page-content__main .ways__item-container .ways__item-wrap{
		width: 100%;
		margin-right: 0 !important;
	}

	.university__item-v2 .university__item-content__right{
		flex-wrap: wrap;
	}

	.university__item-v2 .university__item-content__right .btn{
			width: 100%;

	}

	.university__item-v2 .university__item-content__right .btn-opacity{
		margin-bottom: 15px;
	}

	.page__screen{
		text-align: center;
	}
	.page__screen__trig-item{
		padding-left: 10px;
		padding-right: 10px;
		width: 50%;
	}
	.center-bottom{
		width: 100%;
	}
	.map__tabs{
		flex-wrap: wrap;
	}
	.map__tabs .map__tabs__triggers-item{
		width: calc(50% - 8px);
		justify-content: space-between;
	}

	.rait__item-image{
		display: none;
	}

	.rait__item-num{
		font-size: 16px;
		margin-right: 5px;
	}
	.rait__item{
		padding-left: 20px;
		padding-right: 20px;
	}
	.main-form, .reviews__form{
		padding: 20px;
	}
	.main-form .input-row, .reviews__form .input-row{
		flex-wrap: wrap;
		margin-bottom: 0;
	}
	.main-form .input-row .input, .reviews__form .input-row .input{
		width: 100%;
		margin-right: 0px;
		margin-bottom: 24px;
	}
	.news__left-item__wrap .news__item{
		width: 100%;
		margin-right: 0;
	}
	.university__item-content__elected-wrap{
		left: calc(50% - 115px /2);
    bottom: 90px;
	}
	
	.university__item-content__bottom .btn{
		width: 100%;
	}
	.university__item-content__head{
		font-size: 15px;
	}

	.university__item-inner{
		padding: 15px;
	}
	.university__item-content__stat{
		margin-bottom: 70px;
	}
	.university__item-content__stat-head{
		font-size: 12px;
	}

	.university__item-content__stat-num {
		font-size: 16px;
	}
	.news__left-container{
		flex-wrap: wrap;
		width: 100%;
	}
	.news__left .news-big{
		width: 100%;
	}
	.news__left-item__wrap{
		width: 100%;
		margin-left: 0;
		display: flex;
		margin-top: 20px;
	}

	.news__left-item__wrap .news__item{
		margin-right: 40px;
	}
	.news__left-item__wrap .news__item:last-child{
		margin-right: 0;
	}

	.footer__bottom{
		margin-top: 30px;
		flex-wrap: wrap;
		text-align: center;
	}

	.footer__bottom-link{
		margin-left: auto;
		margin-right: auto;
	}

	.footer__bottom span{
		display: block;
		width: 100%;
	}
	.banners__item{
		padding-right: 160px;
	}
	.burger{
		margin-right: 20px;
	}

	.header-bottom__login{
		margin-left: 20px;
	}

	.header-bottom__compar{
		margin-left: 20px;
	}
	.main-screen__input{
		width: 100%;
		border-radius: 0px;
		border-left: none;
		border-top: 1px solid #B7D8FF;
	}

	.main-screen__search{
		width: 100%;
		height: 56px;
	}
	.main-screen__head{
		font-size: 32px;
		line-height: 40px;
	}

	.news__right-item-container .news__item--no-img{
		width: 100%;
		margin-right: 0px;
	}

	.banners__item{
		background-image: none;
		padding-right: 40px;
		text-align: center;
	}

	.banners__item__btn{
		margin-left: auto;
		margin-right: auto;
	}

	.banners__item-big-v2{
		min-height: auto;
	}
	.banners__item-big-v2 .banners__item__head{
		width: 100%;
		font-size: 24px;
	}
	
}


@media (max-width: 440px){
	.main-screen__input::placeholder{
		font-size: 11px;
	}
}
@media (max-width: 390px){

	.map__tabs .map__tabs__triggers-item{
		width: 100%;
		margin-right: 0 !important;
	}

}
@media (max-width: 320px){
	.news__left-item__wrap{
		flex-wrap: wrap;
	}
	.news__left-item__wrap .news__item{
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.mob-menu-wrap{
		transform: translateX(-320px);
	}
	.mob-menu-wrap--active{
		transform: translateX(-0px);
	}
}

